In [10]:
!pip install --upgrade pip faker polars

Requirement already satisfied: pip in /usr/local/lib/python3.11/site-packages (25.1.1)
Collecting pip
  Downloading pip-25.2-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: faker in /usr/local/lib/python3.11/site-packages (37.5.3)
Requirement already satisfied: polars in /usr/local/lib/python3.11/site-packages (1.32.3)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/site-packages (from faker) (2025.2)
Downloading pip-25.2-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 127.6 kB/s eta 0:00:00a 0:00:02
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.1.1
    Uninstalling pip-25.1.1:
      Successfully uninstalled pip-25.1.1
Successfully installed pip-25.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [12]:
# --- Import Libraries ---
import os
from datetime import datetime, timedelta
import time
import random
from faker import Faker
import polars as pl
from collections import defaultdict


FILE_PATH_STORES = "stores.csv"
FILE_PATH_CATEGORIES = "categories.csv"
FILE_PATH_PRODUCTS = "products.csv"
FILE_PATH_TRANSACTIONS = "transactions.csv"


# Initialize Faker with Indonesian locale
fake = Faker("id_ID")
Faker.seed(42) 


N_ROWS_TRANSACTIONS = 1_000_000 
N_CHUNKS = 10
CHUNK_SIZE = N_ROWS_TRANSACTIONS // N_CHUNKS

N_GENERATED_STORES = 50

# Date range for transactions (one month)
START_TRANSACTION_DATE = datetime(2023, 7, 1)
END_TRANSACTION_DATE = datetime(2023, 7, 30)

In [13]:
def generate_stores_data(num_stores: int) -> pl.DataFrame:
    print("Getting static products data...")
    store_data = [
          {"store_id": 1, "store_name": "Jue Coffee Kuningan City", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 2, "store_name": "Jue Coffee Grand Indonesia", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 3, "store_name": "Jue Coffee Senayan City", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 4, "store_name": "Jue Coffee Pondok Indah Mall", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 5, "store_name": "Jue Coffee Gandaria City", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 6, "store_name": "Jue Coffee Pacific Place", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 7, "store_name": "Jue Coffee Kota Kasablanka", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 8, "store_name": "Jue Coffee Lotte Avenue", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 9, "store_name": "Jue Coffee Plaza Senayan", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 10, "store_name": "Jue Coffee Sarinah Thamrin", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 11, "store_name": "Jue Coffee FX Sudirman", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 12, "store_name": "Jue Coffee Central Park", "city_name": "Kota Jakarta Barat"},
          {"store_id": 13, "store_name": "Jue Coffee Taman Anggrek", "city_name": "Kota Jakarta Barat"},
          {"store_id": 14, "store_name": "Jue Coffee Puri Indah Mall", "city_name": "Kota Jakarta Barat"},
          {"store_id": 15, "store_name": "Jue Coffee Mall Kelapa Gading", "city_name": "Kota Jakarta Utara"},
          {"store_id": 16, "store_name": "Jue Coffee Emporium Pluit", "city_name": "Kota Jakarta Utara"},
          {"store_id": 17, "store_name": "Jue Coffee PIK Avenue", "city_name": "Kota Jakarta Utara"},
          {"store_id": 18, "store_name": "Jue Coffee Mall Artha Gading", "city_name": "Kota Jakarta Utara"},
          {"store_id": 19, "store_name": "Jue Coffee One PM", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 20, "store_name": "Jue Coffee SCBD", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 21, "store_name": "Jue Coffee Kemang Village", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 22, "store_name": "Jue Coffee Cilandak Town Square", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 23, "store_name": "Jue Coffee Pejaten Village", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 24, "store_name": "Jue Coffee Bintaro XChange", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 25, "store_name": "Jue Coffee Transpark Bintaro", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 26, "store_name": "Jue Coffee The Breeze BSD", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 27, "store_name": "Jue Coffee Summarecon Mall Serpong", "city_name": "Kabupaten Tangerang"},
          {"store_id": 28, "store_name": "Jue Coffee Living World Alam Sutera", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 29, "store_name": "Jue Coffee Supermal Karawaci", "city_name": "Kabupaten Tangerang"},
          {"store_id": 30, "store_name": "Jue Coffee Tangcity Mall", "city_name": "Kota Tangerang"},
          {"store_id": 31, "store_name": "Jue Coffee AEON Mall BSD", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 32, "store_name": "Jue Coffee IKEA Alam Sutera", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 33, "store_name": "Jue Coffee Teras Kota BSD", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 34, "store_name": "Jue Coffee Ciputat Raya", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 35, "store_name": "Jue Coffee Pamulang", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 36, "store_name": "Jue Coffee ITC BSD", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 37, "store_name": "Jue Coffee Pasar Modern BSD", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 38, "store_name": "Jue Coffee Gading Serpong", "city_name": "Kabupaten Tangerang"},
          {"store_id": 39, "store_name": "Jue Coffee Mall @ Alam Sutera", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 40, "store_name": "Jue Coffee Cikokol", "city_name": "Kota Tangerang"},
          {"store_id": 41, "store_name": "Jue Coffee Graha Raya", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 42, "store_name": "Jue Coffee Modernland Tangerang", "city_name": "Kota Tangerang"},
          {"store_id": 43, "store_name": "Jue Coffee Alam Sutera Boulevard", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 44, "store_name": "Jue Coffee Stasiun Tangerang", "city_name": "Kota Tangerang"},
          {"store_id": 45, "store_name": "Jue Coffee Citra Raya", "city_name": "Kabupaten Tangerang"},
          {"store_id": 46, "store_name": "Jue Coffee Lippo Karawaci", "city_name": "Kabupaten Tangerang"},
          {"store_id": 47, "store_name": "Jue Coffee Daan Mogot Mall", "city_name": "Kota Jakarta Barat"},
          {"store_id": 48, "store_name": "Jue Coffee Puri Kembangan", "city_name": "Kota Jakarta Barat"},
          {"store_id": 49, "store_name": "Jue Coffee Green Lake City", "city_name": "Kota Jakarta Barat"},
          {"store_id": 50, "store_name": "Jue Coffee Kedoya", "city_name": "Kota Jakarta Barat"},
          {"store_id": 51, "store_name": "Jue Coffee Roxy Mas", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 52, "store_name": "Jue Coffee Cempaka Putih", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 53, "store_name": "Jue Coffee Senen", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 54, "store_name": "Jue Coffee Menteng", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 55, "store_name": "Jue Coffee Matraman", "city_name": "Kota Jakarta Timur"},
          {"store_id": 56, "store_name": "Jue Coffee Pramuka", "city_name": "Kota Jakarta Timur"},
          {"store_id": 57, "store_name": "Jue Coffee Arion Mall", "city_name": "Kota Jakarta Timur"},
          {"store_id": 58, "store_name": "Jue Coffee Buaran Plaza", "city_name": "Kota Jakarta Timur"},
          {"store_id": 59, "store_name": "Jue Coffee Klender", "city_name": "Kota Jakarta Timur"},
          {"store_id": 60, "store_name": "Jue Coffee Pondok Kopi", "city_name": "Kota Jakarta Timur"},
          {"store_id": 61, "store_name": "Jue Coffee Duren Sawit", "city_name": "Kota Jakarta Timur"},
          {"store_id": 62, "store_name": "Jue Coffee Kramat Jati", "city_name": "Kota Jakarta Timur"},
          {"store_id": 63, "store_name": "Jue Coffee Cawang", "city_name": "Kota Jakarta Timur"},
          {"store_id": 64, "store_name": "Jue Coffee Halim Perdanakusuma", "city_name": "Kota Jakarta Timur"},
          {"store_id": 65, "store_name": "Jue Coffee Kalimalang", "city_name": "Kota Jakarta Timur"},
          {"store_id": 66, "store_name": "Jue Coffee Jatiwaringin", "city_name": "Kota Bekasi"},
          {"store_id": 67, "store_name": "Jue Coffee Pondok Gede", "city_name": "Kota Bekasi"},
          {"store_id": 68, "store_name": "Jue Coffee Galaxy Bekasi", "city_name": "Kota Bekasi"},
          {"store_id": 69, "store_name": "Jue Coffee Grand Galaxy Park", "city_name": "Kota Bekasi"},
          {"store_id": 70, "store_name": "Jue Coffee Summarecon Mall Bekasi", "city_name": "Kota Bekasi"},
          {"store_id": 71, "store_name": "Jue Coffee Metropolitan Mall Bekasi", "city_name": "Kota Bekasi"},
          {"store_id": 72, "store_name": "Jue Coffee Mega Bekasi Hypermall", "city_name": "Kota Bekasi"},
          {"store_id": 73, "store_name": "Jue Coffee Trans Studio Mall Cibubur", "city_name": "Kota Depok"},
          {"store_id": 74, "store_name": "Jue Coffee Cibubur Junction", "city_name": "Kota Depok"},
          {"store_id": 75, "store_name": "Jue Coffee Margonda Raya", "city_name": "Kota Depok"},
          {"store_id": 76, "store_name": "Jue Coffee Margo City", "city_name": "Kota Depok"},
          {"store_id": 77, "store_name": "Jue Coffee Depok Town Square", "city_name": "Kota Depok"},
          {"store_id": 78, "store_name": "Jue Coffee Cinere Bellevue Mall", "city_name": "Kota Depok"},
          {"store_id": 79, "store_name": "Jue Coffee Sawangan", "city_name": "Kota Depok"},
          {"store_id": 80, "store_name": "Jue Coffee Bojongsari", "city_name": "Kota Depok"},
          {"store_id": 81, "store_name": "Jue Coffee Cimanggis", "city_name": "Kota Depok"},
          {"store_id": 82, "store_name": "Jue Coffee Stasiun Depok Baru", "city_name": "Kota Depok"},
          {"store_id": 83, "store_name": "Jue Coffee Sentul City", "city_name": "Kabupaten Bogor"},
          {"store_id": 84, "store_name": "Jue Coffee Botani Square", "city_name": "Kota Bogor"},
          {"store_id": 85, "store_name": "Jue Coffee Pajajaran Bogor", "city_name": "Kota Bogor"},
          {"store_id": 86, "store_name": "Jue Coffee Stasiun Bogor", "city_name": "Kota Bogor"},
          {"store_id": 87, "store_name": "Jue Coffee Yasmin Bogor", "city_name": "Kota Bogor"},
          {"store_id": 88, "store_name": "Jue Coffee Ciawi", "city_name": "Kabupaten Bogor"},
          {"store_id": 89, "store_name": "Jue Coffee Cibinong City Mall", "city_name": "Kabupaten Bogor"},
          {"store_id": 90, "store_name": "Jue Coffee Gunung Putri", "city_name": "Kabupaten Bogor"},
          {"store_id": 91, "store_name": "Jue Coffee BSD Green Office Park", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 92, "store_name": "Jue Coffee Foresta Business Loft", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 93, "store_name": "Jue Coffee Fatmawati", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 94, "store_name": "Jue Coffee Ampera", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 95, "store_name": "Jue Coffee Radio Dalam", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 96, "store_name": "Jue Coffee Cipete", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 97, "store_name": "Jue Coffee Kebon Jeruk", "city_name": "Kota Jakarta Barat"},
          {"store_id": 98, "store_name": "Jue Coffee Tanjung Duren", "city_name": "Kota Jakarta Barat"},
          {"store_id": 99, "store_name": "Jue Coffee Mangga Besar", "city_name": "Kota Jakarta Barat"},
          {"store_id": 100, "store_name": "Jue Coffee Gajah Mada", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 101, "store_name": "Jue Coffee Pasar Baru", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 102, "store_name": "Jue Coffee Glodok", "city_name": "Kota Jakarta Barat"},
          {"store_id": 103, "store_name": "Jue Coffee Sunter", "city_name": "Kota Jakarta Utara"},
          {"store_id": 104, "store_name": "Jue Coffee Danau Sunter", "city_name": "Kota Jakarta Utara"},
          {"store_id": 105, "store_name": "Jue Coffee Kelapa Gading Boulevard", "city_name": "Kota Jakarta Utara"},
          {"store_id": 106, "store_name": "Jue Coffee Harapan Indah", "city_name": "Kota Bekasi"},
          {"store_id": 107, "store_name": "Jue Coffee Kemayoran", "city_name": "Kota Jakarta Pusat"},
          {"store_id": 108, "store_name": "Jue Coffee PIK 2", "city_name": "Kabupaten Tangerang"},
          {"store_id": 109, "store_name": "Jue Coffee BSD City", "city_name": "Kota Tangerang Selatan"},
          {"store_id": 110, "store_name": "Jue Coffee Karang Tengah", "city_name": "Kota Tangerang"},
          {"store_id": 111, "store_name": "Jue Coffee Ciledug", "city_name": "Kota Tangerang"},
          {"store_id": 112, "store_name": "Jue Coffee Legok", "city_name": "Kabupaten Tangerang"},
          {"store_id": 113, "store_name": "Jue Coffee Tigaraksa", "city_name": "Kabupaten Tangerang"},
          {"store_id": 114, "store_name": "Jue Coffee Cibinong", "city_name": "Kabupaten Bogor"},
          {"store_id": 115, "store_name": "Jue Coffee Ciomas", "city_name": "Kabupaten Bogor"},
          {"store_id": 116, "store_name": "Jue Coffee Sukabumi Utara", "city_name": "Kota Jakarta Barat"},
          {"store_id": 117, "store_name": "Jue Coffee Kalibata City", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 118, "store_name": "Jue Coffee Tebet Raya", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 119, "store_name": "Jue Coffee Pondok Ranggon", "city_name": "Kota Jakarta Timur"},
          {"store_id": 120, "store_name": "Jue Coffee Cipayung", "city_name": "Kota Jakarta Timur"},
          {"store_id": 121, "store_name": "Jue Coffee Kebayoran Lama", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 122, "store_name": "Jue Coffee Pasar Minggu", "city_name": "Kota Jakarta Selatan"},
          {"store_id": 123, "store_name": "Jue Coffee Jatinegara", "city_name": "Kota Jakarta Timur"},
          {"store_id": 124, "store_name": "Jue Coffee Pulogadung", "city_name": "Kota Jakarta Timur"},
          {"store_id": 125, "store_name": "Jue Coffee Cakung", "city_name": "Kota Jakarta Timur"},
          {"store_id": 126, "store_name": "Jue Coffee Rawamangun", "city_name": "Kota Jakarta Timur"},
          {"store_id": 127, "store_name": "Jue Coffee Tanjung Priok", "city_name": "Kota Jakarta Utara"},
          {"store_id": 128, "store_name": "Jue Coffee Koja", "city_name": "Kota Jakarta Utara"},
          {"store_id": 129, "store_name": "Jue Coffee Semper", "city_name": "Kota Jakarta Utara"},
          {"store_id": 130, "store_name": "Jue Coffee Ancol", "city_name": "Kota Jakarta Utara"},
          {"store_id": 131, "store_name": "Jue Coffee Pademangan", "city_name": "Kota Jakarta Utara"}
    ]
    return pl.DataFrame(store_data)

In [14]:

def get_categories_data() -> pl.DataFrame:
    print("Getting static categories data...")
    categories_data = [
        {"category_id": 1, "category_name": "Coffee"},
        {"category_id": 2, "category_name": "Non-Coffee"},
        {"category_id": 3, "category_name": "Snacks"},
        {"category_id": 4, "category_name": "Pastries & Cakes"},
        {"category_id": 5, "category_name": "Breakfast Menu"},
        {"category_id": 6, "category_name": "Lunch & Dinner"},
        {"category_id": 7, "category_name": "Desserts"},
        {"category_id": 8, "category_name": "Merchandise"},
        {"category_id": 9, "category_name": "Brewing Equipment"},
        {"category_id": 10, "category_name": "Packaged Beans"}
    ]
    return pl.DataFrame(categories_data)

In [21]:
def get_products_data() -> pl.DataFrame:
    print("Getting static products data...")
    products_data = [
    {"product_id": 101, "product_name": "Kopi Telur Tradisional", "category_id": 1, "unit_price": 18000, "base_price": 13320},
    {"product_id": 102, "product_name": "Kopi Kelapa Khas Vietnam", "category_id": 1, "unit_price": 22000, "base_price": 14960},
    {"product_id": 103, "product_name": "Kopi Vietnam Drip Original", "category_id": 1, "unit_price": 20000, "base_price": 13600},
    {"product_id": 104, "product_name": "Kopi Butter Gurih", "category_id": 1, "unit_price": 19000, "base_price": 12350},
    {"product_id": 105, "product_name": "Kopi Susu Kampung Kental Manis", "category_id": 1, "unit_price": 15000, "base_price": 10800},
    {"product_id": 106, "product_name": "Kopi Coklat Spesial", "category_id": 1, "unit_price": 21000, "base_price": 15750},
    {"product_id": 107, "product_name": "Es Kopi Susu Aren", "category_id": 1, "unit_price": 23000, "base_price": 16100},
    {"product_id": 108, "product_name": "Es Kopi Hitam Dingin", "category_id": 1, "unit_price": 16000, "base_price": 11040},
    {"product_id": 109, "product_name": "Es Kopi Hitam Lemon Segar", "category_id": 1, "unit_price": 18000, "base_price": 12600},
    {"product_id": 110, "product_name": "Drip Bag Coffee Lokal Blend", "category_id": 1, "unit_price": 25000, "base_price": 17250},
    {"product_id": 111, "product_name": "Espresso Shot", "category_id": 1, "unit_price": 12000, "base_price": 8160},
    {"product_id": 112, "product_name": "Americano Panas", "category_id": 1, "unit_price": 18000, "base_price": 12960},
    {"product_id": 113, "product_name": "Latte Panas", "category_id": 1, "unit_price": 28000, "base_price": 18480},
    {"product_id": 114, "product_name": "Cappuccino Panas", "category_id": 1, "unit_price": 28000, "base_price": 20160},
    {"product_id": 115, "product_name": "Macchiato Panas", "category_id": 1, "unit_price": 28000, "base_price": 18200},
    {"product_id": 116, "product_name": "Mocha Panas", "category_id": 1, "unit_price": 32000, "base_price": 22400},
    {"product_id": 117, "product_name": "Kopi Susu Regal", "category_id": 1, "unit_price": 25000, "base_price": 16250},
    {"product_id": 118, "product_name": "Kopi Pandan Latte", "category_id": 1, "unit_price": 27000, "base_price": 17550},
    {"product_id": 119, "product_name": "Ice Shaken Espresso", "category_id": 1, "unit_price": 29000, "base_price": 21750},
    {"product_id": 120, "product_name": "Cold Brew Black", "category_id": 1, "unit_price": 28000, "base_price": 19040},
    {"product_id": 121, "product_name": "Cold Brew White", "category_id": 1, "unit_price": 32000, "base_price": 20800},
    {"product_id": 122, "product_name": "Affogato", "category_id": 1, "unit_price": 30000, "base_price": 19500},
    {"product_id": 123, "product_name": "Manual Brew V60", "category_id": 1, "unit_price": 35000, "base_price": 22750},
    {"product_id": 124, "product_name": "Manual Brew Aeropress", "category_id": 1, "unit_price": 35000, "base_price": 26250},
    {"product_id": 125, "product_name": "Filter Coffee Seasonal", "category_id": 1, "unit_price": 38000, "base_price": 24700},
    {"product_id": 126, "product_name": "Kopi Hitam Gula Aren", "category_id": 1, "unit_price": 17000, "base_price": 12750},
    {"product_id": 127, "product_name": "Kopi Susu Caramel", "category_id": 1, "unit_price": 26000, "base_price": 18200},
    {"product_id": 128, "product_name": "Kopi Hazelnut Latte", "category_id": 1, "unit_price": 26000, "base_price": 17680},
    {"product_id": 129, "product_name": "Kopi Vanila Latte", "category_id": 1, "unit_price": 26000, "base_price": 18460},
    {"product_id": 130, "product_name": "Jue Coffee Signature Latte", "category_id": 1, "unit_price": 30000, "base_price": 20400},

    {"product_id": 201, "product_name": "Matcha Latte Premium", "category_id": 2, "unit_price": 38000, "base_price": 26600},
    {"product_id": 202, "product_name": "Pure Chocolate Dingin", "category_id": 2, "unit_price": 40000, "base_price": 26000},
    {"product_id": 203, "product_name": "Lemon Tea Segar", "category_id": 2, "unit_price": 25000, "base_price": 17500},
    {"product_id": 204, "product_name": "Red Velvet Latte Creamy", "category_id": 2, "unit_price": 39000, "base_price": 25350},
    {"product_id": 205, "product_name": "Thai Tea Original", "category_id": 2, "unit_price": 28000, "base_price": 21000},
    {"product_id": 206, "product_name": "Green Tea Latte", "category_id": 2, "unit_price": 36000, "base_price": 23400},
    {"product_id": 207, "product_name": "Taro Latte", "category_id": 2, "unit_price": 37000, "base_price": 27380},
    {"product_id": 208, "product_name": "Strawberry Milkshake", "category_id": 2, "unit_price": 35000, "base_price": 24500},
    {"product_id": 209, "product_name": "Cookies & Cream Frappe", "category_id": 2, "unit_price": 42000, "base_price": 27300},
    {"product_id": 210, "product_name": "Virgin Mojito", "category_id": 2, "unit_price": 33000, "base_price": 22440},
    {"product_id": 211, "product_name": "Lychee Tea", "category_id": 2, "unit_price": 29000, "base_price": 20000},
    {"product_id": 212, "product_name": "Peach Tea", "category_id": 2, "unit_price": 29000, "base_price": 18850},
    {"product_id": 213, "product_name": "Hot Chocolate Marshmallow", "category_id": 2, "unit_price": 35000, "base_price": 22750},
    {"product_id": 214, "product_name": "Chai Latte", "category_id": 2, "unit_price": 34000, "base_price": 25160},
    {"product_id": 215, "product_name": "Susu Regal", "category_id": 2, "unit_price": 28000, "base_price": 19600},
    {"product_id": 216, "product_name": "Orange Juice Fresh", "category_id": 2, "unit_price": 30000, "base_price": 21000},
    {"product_id": 217, "product_name": "Jus Alpukat", "category_id": 2, "unit_price": 32000, "base_price": 20800},
    {"product_id": 218, "product_name": "Mineral Water", "category_id": 2, "unit_price": 10000, "base_price": 6800},
    {"product_id": 219, "product_name": "Sparkling Water", "category_id": 2, "unit_price": 15000, "base_price": 9900},
    {"product_id": 220, "product_name": "Ginger Ale", "category_id": 2, "unit_price": 20000, "base_price": 14000},

    {"product_id": 301, "product_name": "French Fries Original", "category_id": 3, "unit_price": 25000, "base_price": 18000},
    {"product_id": 302, "product_name": "Chicken Nugget", "category_id": 3, "unit_price": 28000, "base_price": 19600},
    {"product_id": 303, "product_name": "Mini Spring Rolls", "category_id": 3, "unit_price": 26000, "base_price": 17420},
    {"product_id": 304, "product_name": "Samosa Ayam", "category_id": 3, "unit_price": 27000, "base_price": 17550},
    {"product_id": 305, "product_name": "Edamame Rebus", "category_id": 3, "unit_price": 22000, "base_price": 14300},
    {"product_id": 306, "product_name": "Crispy Mushroom", "category_id": 3, "unit_price": 29000, "base_price": 18850},
    {"product_id": 307, "product_name": "Onion Rings", "category_id": 3, "unit_price": 27000, "base_price": 19440},
    {"product_id": 308, "product_name": "Fish & Chips Bites", "category_id": 3, "unit_price": 35000, "base_price": 22750},
    {"product_id": 309, "product_name": "Nachos Cheese", "category_id": 3, "unit_price": 38000, "base_price": 24700},
    {"product_id": 310, "product_name": "Sweet Potato Fries", "category_id": 3, "unit_price": 28000, "base_price": 18200},

    {"product_id": 401, "product_name": "Butter Croissant", "category_id": 4, "unit_price": 28000, "base_price": 18200},
    {"product_id": 402, "product_name": "Chocolate Croissant", "category_id": 4, "unit_price": 32000, "base_price": 20800},
    {"product_id": 403, "product_name": "Almond Croissant", "category_id": 4, "unit_price": 35000, "base_price": 23450},
    {"product_id": 404, "product_name": "Pain Au Chocolat", "category_id": 4, "unit_price": 30000, "base_price": 19500},
    {"product_id": 405, "product_name": "Cinnamon Roll", "category_id": 4, "unit_price": 29000, "base_price": 21750},
    {"product_id": 406, "product_name": "Banana Bread Slice", "category_id": 4, "unit_price": 25000, "base_price": 17000},
    {"product_id": 407, "product_name": "Red Velvet Cake Slice", "category_id": 4, "unit_price": 45000, "base_price": 29250},
    {"product_id": 408, "product_name": "Chocolate Fudge Cake Slice", "category_id": 4, "unit_price": 45000, "base_price": 31050},
    {"product_id": 409, "product_name": "Blueberry Cheesecake Slice", "category_id": 4, "unit_price": 48000, "base_price": 31200},
    {"product_id": 410, "product_name": "Marble Cake Slice", "category_id": 4, "unit_price": 38000, "base_price": 24700},
    {"product_id": 411, "product_name": "Scones with Jam & Cream", "category_id": 4, "unit_price": 33000, "base_price": 22440},
    {"product_id": 412, "product_name": "Muffin Coklat Chip", "category_id": 4, "unit_price": 27000, "base_price": 19170},
    {"product_id": 413, "product_name": "Muffin Blueberry", "category_id": 4, "unit_price": 27000, "base_price": 17820},
    {"product_id": 414, "product_name": "Donat Gula", "category_id": 4, "unit_price": 18000, "base_price": 12600},
    {"product_id": 415, "product_name": "Cookies Chocochips", "category_id": 4, "unit_price": 22000, "base_price": 15400},

    {"product_id": 501, "product_name": "Classic Omelette", "category_id": 5, "unit_price": 40000, "base_price": 26000},
    {"product_id": 502, "product_name": "Scrambled Eggs on Toast", "category_id": 5, "unit_price": 42000, "base_price": 27300},
    {"product_id": 503, "product_name": "Avocado Toast with Poached Egg", "category_id": 5, "unit_price": 55000, "base_price": 35750},
    {"product_id": 504, "product_name": "Pancakes with Maple Syrup", "category_id": 5, "unit_price": 48000, "base_price": 31200},
    {"product_id": 505, "product_name": "Waffles with Berries", "category_id": 5, "unit_price": 50000, "base_price": 32500},
    {"product_id": 506, "product_name": "Granola Bowl with Yogurt", "category_id": 5, "unit_price": 45000, "base_price": 31050},
    {"product_id": 507, "product_name": "Fruit Platter Fresh", "category_id": 5, "unit_price": 35000, "base_price": 22750},
    {"product_id": 508, "product_name": "Chicken Porridge", "category_id": 5, "unit_price": 38000, "base_price": 27740},

    {"product_id": 601, "product_name": "Spaghetti Aglio Olio", "category_id": 6, "unit_price": 65000, "base_price": 47450},
    {"product_id": 602, "product_name": "Chicken Carbonara Pasta", "category_id": 6, "unit_price": 70000, "base_price": 45500},
    {"product_id": 603, "product_name": "Nasi Goreng Kampung Jue", "category_id": 6, "unit_price": 58000, "base_price": 43500},
    {"product_id": 604, "product_name": "Mie Goreng Tek-Tek", "category_id": 6, "unit_price": 55000, "base_price": 35750},
    {"product_id": 605, "product_name": "Caesar Salad with Grilled Chicken", "category_id": 6, "unit_price": 60000, "base_price": 42000},
    {"product_id": 606, "product_name": "Chicken Katsu Curry Rice", "category_id": 6, "unit_price": 75000, "base_price": 50250},
    {"product_id": 607, "product_name": "Crispy Dory with Tartar Sauce", "category_id": 6, "unit_price": 72000, "base_price": 46800},
    {"product_id": 608, "product_name": "Club Sandwich Classic", "category_id": 6, "unit_price": 55000, "base_price": 37950},
    {"product_id": 609, "product_name": "Beef Burger with Fries", "category_id": 6, "unit_price": 80000, "base_price": 52800},
    {"product_id": 610, "product_name": "Grilled Salmon Steak", "category_id": 6, "unit_price": 95000, "base_price": 61750},

    {"product_id": 701, "product_name": "Ice Cream Scoop (Vanilla)", "category_id": 7, "unit_price": 20000, "base_price": 14000},
    {"product_id": 702, "product_name": "Ice Cream Scoop (Chocolate)", "category_id": 7, "unit_price": 20000, "base_price": 13000},
    {"product_id": 703, "product_name": "Ice Cream Scoop (Strawberry)", "category_id": 7, "unit_price": 20000, "base_price": 14000},
    {"product_id": 704, "product_name": "Jue Coffee Banana Split", "category_id": 7, "unit_price": 40000, "base_price": 26000},
    {"product_id": 705, "product_name": "Molten Lava Cake with Ice Cream", "category_id": 7, "unit_price": 50000, "base_price": 32500},
    {"product_id": 706, "product_name": "Panna Cotta Berries", "category_id": 7, "unit_price": 45000, "base_price": 29250},
    {"product_id": 707, "product_name": "Tiramisu Klasik", "category_id": 7, "unit_price": 48000, "base_price": 33600},
        
    {"product_id": 801, "product_name": "Jue Coffee Tumbler (Small)", "category_id": 8, "unit_price": 95000, "base_price": 61750},
    {"product_id": 802, "product_name": "Jue Coffee Tumbler (Large)", "category_id": 8, "unit_price": 120000, "base_price": 78000},
    {"product_id": 803, "product_name": "Jue Coffee T-Shirt (Size M)", "category_id": 8, "unit_price": 150000, "base_price": 97500},
    {"product_id": 804, "product_name": "Jue Coffee Tote Bag", "category_id": 8, "unit_price": 80000, "base_price": 52000},
    {"product_id": 805, "product_name": "Jue Coffee Mug", "category_id": 8, "unit_price": 75000, "base_price": 48750},

    {"product_id": 901, "product_name": "V60 Dripper (Size 01)", "category_id": 9, "unit_price": 120000, "base_price": 78000},
    {"product_id": 902, "product_name": "Aeropress Kit", "category_id": 9, "unit_price": 450000, "base_price": 315000},
    {"product_id": 903, "product_name": "French Press (350ml)", "category_id": 9, "unit_price": 180000, "base_price": 126000},
    {"product_id": 904, "product_name": "Pour Over Kettle", "category_id": 9, "unit_price": 300000, "base_price": 210000},
    {"product_id": 905, "product_name": "Manual Grinder", "category_id": 9, "unit_price": 250000, "base_price": 162500},

    {"product_id": 1001, "product_name": "Jue Coffee House Blend (250g)", "category_id": 10, "unit_price": 85000, "base_price": 58650},
    {"product_id": 1002, "product_name": "Single Origin Arabica Gayo (250g)", "category_id": 10, "unit_price": 120000, "base_price": 84000},
    {"product_id": 1003, "product_name": "Single Origin Robusta Lampung (250g)", "category_id": 10, "unit_price": 75000, "base_price": 48750},
    {"product_id": 1004, "product_name": "Decaf Blend (250g)", "category_id": 10, "unit_price": 90000, "base_price": 60300},
    {"product_id": 1005, "product_name": "Kopi Susu Blend (500g)", "category_id": 10, "unit_price": 150000, "base_price": 105000}

    ]
    return pl.DataFrame(products_data)

In [16]:
def generate_transactions_data(
    num_rows: int,
    stores_df: pl.DataFrame,
    products_df: pl.DataFrame,
    output_csv_path: str
):
    if os.path.exists(output_csv_path) and pl.read_csv(output_csv_path).shape[0] == num_rows:
        print(f"File '{output_csv_path}' already exists with {num_rows} records. Skipping transaction data generation.")
        return

    print(f"Generating {num_rows} transaction records with Faker-only randomness and 'date' only column...")

    # --- Persiapan untuk distribusi yang lebih natural ---
    store_ids = stores_df["store_id"].to_list()
    product_ids = products_df["product_id"].to_list()
    product_id_to_price = {row["product_id"]: row["unit_price"] for row in products_df.iter_rows(named=True)}
    all_transactions_data = []

    # Pola permintaan harian dan mingguan
    daily_demand_multiplier = defaultdict(lambda: 1.0)
    for day_of_week in [5, 6]:
        daily_demand_multiplier[day_of_week] = 1.5
    peak_sales_dates = {
        (START_TRANSACTION_DATE.date() + timedelta(days=d)): 2.0 for d in range(10, 15)
    }

    # Persiapan daftar tanggal dan bobot untuk sampling
    dates_in_range = [START_TRANSACTION_DATE + timedelta(days=d) for d in range((END_TRANSACTION_DATE - START_TRANSACTION_DATE).days + 1)]
    date_weights = []
    for date in dates_in_range:
        multiplier = daily_demand_multiplier[date.weekday()]
        if date.date() in peak_sales_dates:
            multiplier *= peak_sales_dates[date.date()]
        date_weights.append(multiplier)
    
    # Fungsi pembantu untuk weighted choices menggunakan Faker
    def weighted_choice(choices, weights):
        total_weight = sum(weights)
        rand_val = fake.random_int(min=0, max=int(total_weight * 1000)) / 1000.0
        cumulative_weight = 0
        for choice, weight in zip(choices, weights):
            cumulative_weight += weight
            if rand_val <= cumulative_weight:
                return choice
        return choices[-1]

    def fake_sample(population, k):
        if k > len(population):
            k = len(population)
        
        selected_indices = fake.random_elements(elements=list(range(len(population))), unique=True, length=k)
        return [population[i] for i in selected_indices]
    
    for i in range(N_CHUNKS):
        chunk_data = []
        for _ in range(CHUNK_SIZE):
            transaction_id = fake.uuid4()
            
            transaction_date = weighted_choice(dates_in_range, date_weights)
            
            chosen_store_id = fake.random_element(elements=store_ids)
            
            # Kolom customer_id sekarang selalu diatur ke None
            customer_id = None

            chosen_product_id = fake.random_element(elements=product_ids)
            unit_price = product_id_to_price[chosen_product_id]

            quantity_choices = [1] * 10 + [2] * 5 + [3] * 2 + [4] * 1
            quantity = fake.random_element(elements=quantity_choices)
            payment_method = fake.random_element(elements=['Cash', 'QRIS', 'Ovo', 'Gopay', 'ShopeePay', 'DANA', 'Debit card', 'Credit card'])
            total_price = quantity * unit_price

            if fake.random_int(min=1, max=10) == 1:
                total_price = int(total_price * fake.pyfloat(left_digits=1, right_digits=2, positive=True, min_value=0.9, max_value=1.1))

            chunk_data.append({
                "transaction_id": transaction_id,
                "date": transaction_date.strftime("%Y-%m-%d"),
                "store_id": chosen_store_id,
                "customer_id": customer_id,
                "product_id": chosen_product_id,
                "quantity": quantity,
                "payment_method": payment_method,
                "price": total_price
            })
            
        if i > 0 and fake.random_int(min=1, max=10) == 1:
            num_duplicates = fake.random_int(min=1, max=5)
            if len(all_transactions_data) > num_duplicates:
                chunk_data.extend(fake_sample(all_transactions_data, num_duplicates))

        all_transactions_data.extend(chunk_data)

    df_transactions = pl.DataFrame(all_transactions_data)
    df_transactions.write_csv(output_csv_path)
    print(f"Transaction data saved to {output_csv_path}")

In [17]:

total_start_time = time.perf_counter()

if not os.path.exists(FILE_PATH_STORES):
    stores_df = generate_stores_data(N_GENERATED_STORES)
    stores_df.write_csv(FILE_PATH_STORES)
    print(f"Stores data saved to {FILE_PATH_STORES}")
else:
    print(f"File '{FILE_PATH_STORES}' already exists. Loading existing data.")
    stores_df = pl.read_csv(FILE_PATH_STORES)

if not os.path.exists(FILE_PATH_CATEGORIES):
    categories_df = get_categories_data()
    categories_df.write_csv(FILE_PATH_CATEGORIES)
    print(f"Categories data saved to {FILE_PATH_CATEGORIES}")
else:
    print(f"File '{FILE_PATH_CATEGORIES}' already exists. Loading existing data.")
    categories_df = pl.read_csv(FILE_PATH_CATEGORIES)

if not os.path.exists(FILE_PATH_PRODUCTS):
    products_df = get_products_data()
    products_df.write_csv(FILE_PATH_PRODUCTS)
    print(f"Products data saved to {FILE_PATH_PRODUCTS}")
else:
    print(f"File '{FILE_PATH_PRODUCTS}' already exists. Loading existing data.")
    products_df = pl.read_csv(FILE_PATH_PRODUCTS)

generate_transactions_data(N_ROWS_TRANSACTIONS, stores_df, products_df, FILE_PATH_TRANSACTIONS)
 
total_stop_time = time.perf_counter()
elapsed_time = total_stop_time - total_start_time
print(f"\nTotal data generation and saving took {elapsed_time:.2f} seconds for {N_ROWS_TRANSACTIONS} transactions.")

File 'stores.csv' already exists. Loading existing data.
File 'categories.csv' already exists. Loading existing data.
File 'products.csv' already exists. Loading existing data.
Generating 1000000 transaction records with Faker-only randomness and 'date' only column...
Transaction data saved to transactions.csv

Total data generation and saving took 36.88 seconds for 1000000 transactions.

In [7]:
%%sql

SHOW DATABASES

25/08/22 08:53:00 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------------+
|           namespace |
+---------------------+
|   brz_coffeeshop_db |
|     brz_hospital_db |
|          coffeeshop |
|   gld_coffeeshop_db |
|     gld_hospital_db |
|   slv_coffeeshop_db |
|     slv_hospital_db |
| coffeeshop_medalion |
+---------------------+

In [3]:
%%sql

create database if not exists coffeeshop;

++
||
++
++

In [1]:
%%sql 

use coffeeshop

25/08/24 05:35:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [2]:
%%sql
    
show tables

+------------+--------------+-------------+
|  namespace |    tableName | isTemporary |
+------------+--------------+-------------+
| coffeeshop |   categories |       False |
| coffeeshop |     products |       False |
| coffeeshop |       stores |       False |
| coffeeshop | transactions |       False |
+------------+--------------+-------------+

In [23]:
%%sql

drop table stores

Py4JJavaError: An error occurred while calling o36.sql.
: org.apache.iceberg.exceptions.ServiceFailureException: Server error: UncheckedSQLException: Failed to execute: DELETE FROM iceberg_tables WHERE catalog_name = ? AND table_namespace  = ? AND table_name = ? AND (iceberg_type = 'TABLE' OR iceberg_type IS NULL)
	at org.apache.iceberg.rest.ErrorHandlers$DefaultErrorHandler.accept(ErrorHandlers.java:241)
	at org.apache.iceberg.rest.ErrorHandlers$TableErrorHandler.accept(ErrorHandlers.java:123)
	at org.apache.iceberg.rest.ErrorHandlers$TableErrorHandler.accept(ErrorHandlers.java:107)
	at org.apache.iceberg.rest.HTTPClient.throwFailure(HTTPClient.java:215)
	at org.apache.iceberg.rest.HTTPClient.execute(HTTPClient.java:299)
	at org.apache.iceberg.rest.BaseHTTPClient.delete(BaseHTTPClient.java:55)
	at org.apache.iceberg.rest.RESTSessionCatalog.dropTable(RESTSessionCatalog.java:304)
	at org.apache.iceberg.catalog.BaseSessionCatalog$AsCatalog.dropTable(BaseSessionCatalog.java:112)
	at org.apache.iceberg.rest.RESTCatalog.dropTable(RESTCatalog.java:212)
	at org.apache.iceberg.CachingCatalog.dropTable(CachingCatalog.java:174)
	at org.apache.iceberg.spark.SparkCatalog.dropTableWithoutPurging(SparkCatalog.java:389)
	at org.apache.iceberg.spark.SparkCatalog.dropTable(SparkCatalog.java:354)
	at org.apache.spark.sql.execution.datasources.v2.DropTableExec.run(DropTableExec.scala:38)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.Dataset.<init>(Dataset.scala:220)
	at org.apache.spark.sql.Dataset$.$anonfun$ofRows$2(Dataset.scala:100)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:97)
	at org.apache.spark.sql.SparkSession.$anonfun$sql$1(SparkSession.scala:638)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:629)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:659)
	at jdk.internal.reflect.GeneratedMethodAccessor109.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:569)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:840)

In [17]:
%%sql

drop table categories

++
||
++
++

In [18]:
%%sql

drop table products

++
||
++
++

In [5]:
%%sql

drop table transactions

++
||
++
++

In [5]:
%%sql

CREATE TABLE IF NOT EXISTS categories (
    category_id     STRING,         
    category_name   STRING          
)
USING iceberg;

++
||
++
++

In [7]:
%%sql

CREATE TABLE IF NOT EXISTS stores (
    store_id        INTEGER,         
    store_name       STRING,
    city_name        STRING
)
USING iceberg;

++
||
++
++

In [8]:
%%sql

CREATE TABLE IF NOT EXISTS products (
    product_id      STRING,        
    product_name    STRING,
    category_id     STRING,        
    unit_price      STRING,        
    base_price      STRING         
)
USING iceberg;

++
||
++
++

In [4]:
%%sql

CREATE TABLE IF NOT EXISTS transactions (
    transaction_id  STRING,
    datetime        TIMESTAMP,     
    store_id        STRING,        
    customer_id     STRING,        
    product_id      STRING,        
    quantity        STRING,        
    payment_method  STRING,        
    price           STRING        
)
USING iceberg
PARTITIONED BY (days(datetime));

++
||
++
++

In [10]:
stores_csv_path = "stores.csv" 
stores_df = spark.read.csv(stores_csv_path, header=True, inferSchema=True)

print(f"Schema for {stores_csv_path}:")
stores_df.printSchema()
print(f"First 5 rows from {stores_csv_path}:")
stores_df.show(5)


stores_df.write.format("iceberg").mode("overwrite").saveAsTable("stores")

print(f"Data from {stores_csv_path} has been successfully loaded into the 'stores' Iceberg table.")

Schema for stores.csv:
root
 |-- store_id: integer (nullable = true)
 |-- store_name: string (nullable = true)
 |-- city_name: string (nullable = true)

First 5 rows from stores.csv:
+--------+--------------------+--------------------+
|store_id|          store_name|           city_name|
+--------+--------------------+--------------------+
|       1|Jue Coffee Kuning...|Kota Jakarta Selatan|
|       2|Jue Coffee Grand ...|  Kota Jakarta Pusat|
|       3|Jue Coffee Senaya...|  Kota Jakarta Pusat|
|       4|Jue Coffee Pondok...|Kota Jakarta Selatan|
|       5|Jue Coffee Gandar...|Kota Jakarta Selatan|
+--------+--------------------+--------------------+
only showing top 5 rows

Data from stores.csv has been successfully loaded into the 'stores' Iceberg table.

In [11]:
# Membaca data categories.csv
categories_csv_path = "categories.csv" 
categories_df = spark.read.csv(categories_csv_path, header=True, inferSchema=True)

print(f"Schema for {categories_csv_path}:")
categories_df.printSchema()
print(f"First 5 rows from {categories_csv_path}:")
categories_df.show(5)

# Menulis data ke tabel Iceberg 'categories'
categories_df.write.format("iceberg").mode("overwrite").saveAsTable("categories")

print(f"Data from {categories_csv_path} has been successfully loaded into the 'categories' Iceberg table.")

Schema for categories.csv:
root
 |-- category_id: integer (nullable = true)
 |-- category_name: string (nullable = true)

First 5 rows from categories.csv:
+-----------+----------------+
|category_id|   category_name|
+-----------+----------------+
|          1|          Coffee|
|          2|      Non-Coffee|
|          3|          Snacks|
|          4|Pastries & Cakes|
|          5|  Breakfast Menu|
+-----------+----------------+
only showing top 5 rows

Data from categories.csv has been successfully loaded into the 'categories' Iceberg table.

In [12]:
# Membaca data products.csv
products_csv_path = "products.csv" # Sesuaikan path jika berbeda
products_df = spark.read.csv(products_csv_path, header=True, inferSchema=True)

print(f"Schema for {products_csv_path}:")
products_df.printSchema()
print(f"First 5 rows from {products_csv_path}:")
products_df.show(5, truncate=False) # truncate=False untuk melihat nama produk yang panjang

# Menulis data ke tabel Iceberg 'products'
products_df.write.format("iceberg").mode("overwrite").saveAsTable("products")

print(f"Data from {products_csv_path} has been successfully loaded into the 'products' Iceberg table.")

Schema for products.csv:
root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category_id: integer (nullable = true)
 |-- unit_price: integer (nullable = true)
 |-- base_price: integer (nullable = true)

First 5 rows from products.csv:
+----------+------------------------------+-----------+----------+----------+
|product_id|product_name                  |category_id|unit_price|base_price|
+----------+------------------------------+-----------+----------+----------+
|101       |Kopi Telur Tradisional        |1          |18000     |13320     |
|102       |Kopi Kelapa Khas Vietnam      |1          |22000     |14960     |
|103       |Kopi Vietnam Drip Original    |1          |20000     |13600     |
|104       |Kopi Butter Gurih             |1          |19000     |12350     |
|105       |Kopi Susu Kampung Kental Manis|1          |15000     |10800     |
+----------+------------------------------+-----------+----------+----------+
only showing top 5 rows

Data from products.csv has been successfully loaded into the 'products' Iceberg table.

In [6]:
# Membaca data transactions.csv
transactions_csv_path = "transactions.csv" # Sesuaikan path jika berbeda

# 'inferSchema=True' akan mengenali kolom 'date' sebagai tipe data String.
transactions_df = spark.read.csv(transactions_csv_path, header=True, inferSchema=True)

print(f"Original Schema for {transactions_csv_path}:")
transactions_df.printSchema()
print(f"First 5 rows from {transactions_csv_path}:")
transactions_df.show(5, truncate=False)

# Konversi kolom 'date' ke tipe data Date atau Timestamp jika diperlukan
from pyspark.sql.functions import col, to_date

# Ubah 'datetime' menjadi 'date' di baris ini
# Kita bisa langsung mengonversinya ke tipe Date, karena tidak ada komponen waktu
transactions_df = transactions_df.withColumn("date", to_date(col("date"), "yyyy-MM-dd"))

print(f"\nSchema after casting date for {transactions_csv_path}:")
transactions_df.printSchema()

# Menulis data ke tabel Iceberg 'transactions'
transactions_df.write.format("iceberg").mode("overwrite").saveAsTable("transactions")

print(f"Data from {transactions_csv_path} has been successfully loaded into the 'transactions' Iceberg table.")

Original Schema for transactions.csv:
root
 |-- transaction_id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- price: integer (nullable = true)

First 5 rows from transactions.csv:
+------------------------------------+----------+--------+-----------+----------+--------+--------------+-----+
|transaction_id                      |date      |store_id|customer_id|product_id|quantity|payment_method|price|
+------------------------------------+----------+--------+-----------+----------+--------+--------------+-----+
|b2b9437a-28df-4ec4-8e4a-2bbdc241330b|2023-07-20|88      |NULL       |206       |1       |Gopay         |36000|
|18c26797-6142-4a7d-97be-31111a2a73ed|2023-07-16|89      |NULL       |503       |1       |Cash          |55000|
|ec1b8ca1-f91e-4d4c-9ff4-9b7889463e85|2023-07-17|21      |NULL       |411       |1       |DANA          |33000|
|0bbb2599-11ce-4dd2-b45e-d1f03139d32c|2023-07-12|75      |NULL       |111       |1       |QRIS          |12000|
|d58842de-a2bc-472f-b412-b29347294739|2023-07-16|42      |NULL       |218       |2       |Gopay         |20000|
+------------------------------------+----------+--------+-----------+----------+--------+--------------+-----+
only showing top 5 rows


Schema after casting date for transactions.csv:
root
 |-- transaction_id: string (nullable = true)
 |-- date: date (nullable = true)
 |-- store_id: integer (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- price: integer (nullable = true)

Data from transactions.csv has been successfully loaded into the 'transactions' Iceberg table.

In [5]:
# Di Spark SQL, hapus tabel yang ada
spark.sql("DROP TABLE IF EXISTS transactions;")

# Kemudian, jalankan kembali kode PySpark Anda
# transactions_df.write.format("iceberg").mode("overwrite").saveAsTable("transactions")

DataFrame[]

In [8]:
%%sql

select * from categories

+-------------+-------------------+
| category_id |     category_name |
+-------------+-------------------+
|           1 |            Coffee |
|           2 |        Non-Coffee |
|           3 |            Snacks |
|           4 |  Pastries & Cakes |
|           5 |    Breakfast Menu |
|           6 |    Lunch & Dinner |
|           7 |          Desserts |
|           8 |       Merchandise |
|           9 | Brewing Equipment |
|          10 |    Packaged Beans |
+-------------+-------------------+

In [9]:
%%sql

select * from stores

+----------+--------------------------------------+------------------------+
| store_id |                           store_name |              city_name |
+----------+--------------------------------------+------------------------+
|        1 |             Jue Coffee Kuningan City |   Kota Jakarta Selatan |
|        2 |           Jue Coffee Grand Indonesia |     Kota Jakarta Pusat |
|        3 |              Jue Coffee Senayan City |     Kota Jakarta Pusat |
|        4 |         Jue Coffee Pondok Indah Mall |   Kota Jakarta Selatan |
|        5 |             Jue Coffee Gandaria City |   Kota Jakarta Selatan |
|        6 |             Jue Coffee Pacific Place |   Kota Jakarta Selatan |
|        7 |           Jue Coffee Kota Kasablanka |   Kota Jakarta Selatan |
|        8 |              Jue Coffee Lotte Avenue |   Kota Jakarta Selatan |
|        9 |             Jue Coffee Plaza Senayan |     Kota Jakarta Pusat |
|       10 |           Jue Coffee Sarinah Thamrin |     Kota Jakarta Pusat |
|       11 |               Jue Coffee FX Sudirman |     Kota Jakarta Pusat |
|       12 |              Jue Coffee Central Park |     Kota Jakarta Barat |
|       13 |             Jue Coffee Taman Anggrek |     Kota Jakarta Barat |
|       14 |           Jue Coffee Puri Indah Mall |     Kota Jakarta Barat |
|       15 |        Jue Coffee Mall Kelapa Gading |     Kota Jakarta Utara |
|       16 |            Jue Coffee Emporium Pluit |     Kota Jakarta Utara |
|       17 |                Jue Coffee PIK Avenue |     Kota Jakarta Utara |
|       18 |         Jue Coffee Mall Artha Gading |     Kota Jakarta Utara |
|       19 |                    Jue Coffee One PM |   Kota Jakarta Selatan |
|       20 |                      Jue Coffee SCBD |   Kota Jakarta Selatan |
|       21 |            Jue Coffee Kemang Village |   Kota Jakarta Selatan |
|       22 |      Jue Coffee Cilandak Town Square |   Kota Jakarta Selatan |
|       23 |           Jue Coffee Pejaten Village |   Kota Jakarta Selatan |
|       24 |           Jue Coffee Bintaro XChange | Kota Tangerang Selatan |
|       25 |         Jue Coffee Transpark Bintaro | Kota Tangerang Selatan |
|       26 |            Jue Coffee The Breeze BSD | Kota Tangerang Selatan |
|       27 |   Jue Coffee Summarecon Mall Serpong |    Kabupaten Tangerang |
|       28 |  Jue Coffee Living World Alam Sutera | Kota Tangerang Selatan |
|       29 |         Jue Coffee Supermal Karawaci |    Kabupaten Tangerang |
|       30 |             Jue Coffee Tangcity Mall |         Kota Tangerang |
|       31 |             Jue Coffee AEON Mall BSD | Kota Tangerang Selatan |
|       32 |          Jue Coffee IKEA Alam Sutera | Kota Tangerang Selatan |
|       33 |            Jue Coffee Teras Kota BSD | Kota Tangerang Selatan |
|       34 |              Jue Coffee Ciputat Raya | Kota Tangerang Selatan |
|       35 |                  Jue Coffee Pamulang | Kota Tangerang Selatan |
|       36 |                   Jue Coffee ITC BSD | Kota Tangerang Selatan |
|       37 |          Jue Coffee Pasar Modern BSD | Kota Tangerang Selatan |
|       38 |            Jue Coffee Gading Serpong |    Kabupaten Tangerang |
|       39 |        Jue Coffee Mall @ Alam Sutera | Kota Tangerang Selatan |
|       40 |                   Jue Coffee Cikokol |         Kota Tangerang |
|       41 |                Jue Coffee Graha Raya | Kota Tangerang Selatan |
|       42 |      Jue Coffee Modernland Tangerang |         Kota Tangerang |
|       43 |     Jue Coffee Alam Sutera Boulevard | Kota Tangerang Selatan |
|       44 |         Jue Coffee Stasiun Tangerang |         Kota Tangerang |
|       45 |                Jue Coffee Citra Raya |    Kabupaten Tangerang |
|       46 |            Jue Coffee Lippo Karawaci |    Kabupaten Tangerang |
|       47 |           Jue Coffee Daan Mogot Mall |     Kota Jakarta Barat |
|       48 |            Jue Coffee Puri Kembangan |     Kota Jakarta Barat |
|       49 |           Jue Coffee Green Lake City |     Kota Jakarta Barat |
|       50 |                    Jue Coffee Kedoya |     Kota Jakarta Barat |
|       51 |                  Jue Coffee Roxy Mas |     Kota Jakarta Pusat |
|       52 |             Jue Coffee Cempaka Putih |     Kota Jakarta Pusat |
|       53 |                     Jue Coffee Senen |     Kota Jakarta Pusat |
|       54 |                   Jue Coffee Menteng |     Kota Jakarta Pusat |
|       55 |                  Jue Coffee Matraman |     Kota Jakarta Timur |
|       56 |                   Jue Coffee Pramuka |     Kota Jakarta Timur |
|       57 |                Jue Coffee Arion Mall |     Kota Jakarta Timur |
|       58 |              Jue Coffee Buaran Plaza |     Kota Jakarta Timur |
|       59 |                   Jue Coffee Klender |     Kota Jakarta Timur |
|       60 |               Jue Coffee Pondok Kopi |     Kota Jakarta Timur |
|       61 |               Jue Coffee Duren Sawit |     Kota Jakarta Timur |
|       62 |               Jue Coffee Kramat Jati |     Kota Jakarta Timur |
|       63 |                    Jue Coffee Cawang |     Kota Jakarta Timur |
|       64 |       Jue Coffee Halim Perdanakusuma |     Kota Jakarta Timur |
|       65 |                Jue Coffee Kalimalang |     Kota Jakarta Timur |
|       66 |              Jue Coffee Jatiwaringin |            Kota Bekasi |
|       67 |               Jue Coffee Pondok Gede |            Kota Bekasi |
|       68 |             Jue Coffee Galaxy Bekasi |            Kota Bekasi |
|       69 |         Jue Coffee Grand Galaxy Park |            Kota Bekasi |
|       70 |    Jue Coffee Summarecon Mall Bekasi |            Kota Bekasi |
|       71 |  Jue Coffee Metropolitan Mall Bekasi |            Kota Bekasi |
|       72 |     Jue Coffee Mega Bekasi Hypermall |            Kota Bekasi |
|       73 | Jue Coffee Trans Studio Mall Cibubur |             Kota Depok |
|       74 |          Jue Coffee Cibubur Junction |             Kota Depok |
|       75 |             Jue Coffee Margonda Raya |             Kota Depok |
|       76 |                Jue Coffee Margo City |             Kota Depok |
|       77 |         Jue Coffee Depok Town Square |             Kota Depok |
|       78 |      Jue Coffee Cinere Bellevue Mall |             Kota Depok |
|       79 |                  Jue Coffee Sawangan |             Kota Depok |
|       80 |                Jue Coffee Bojongsari |             Kota Depok |
|       81 |                 Jue Coffee Cimanggis |             Kota Depok |
|       82 |        Jue Coffee Stasiun Depok Baru |             Kota Depok |
|       83 |               Jue Coffee Sentul City |        Kabupaten Bogor |
|       84 |             Jue Coffee Botani Square |             Kota Bogor |
|       85 |           Jue Coffee Pajajaran Bogor |             Kota Bogor |
|       86 |             Jue Coffee Stasiun Bogor |             Kota Bogor |
|       87 |              Jue Coffee Yasmin Bogor |             Kota Bogor |
|       88 |                     Jue Coffee Ciawi |        Kabupaten Bogor |
|       89 |        Jue Coffee Cibinong City Mall |        Kabupaten Bogor |
|       90 |              Jue Coffee Gunung Putri |        Kabupaten Bogor |
|       91 |     Jue Coffee BSD Green Office Park | Kota Tangerang Selatan |
|       92 |     Jue Coffee Foresta Business Loft | Kota Tangerang Selatan |
|       93 |                 Jue Coffee Fatmawati |   Kota Jakarta Selatan |
|       94 |                    Jue Coffee Ampera |   Kota Jakarta Selatan |
|       95 |               Jue Coffee Radio Dalam |   Kota Jakarta Selatan |
|       96 |                    Jue Coffee Cipete |   Kota Jakarta Selatan |
|       97 |               Jue Coffee Kebon Jeruk |     Kota Jakarta Barat |
|       98 |             Jue Coffee Tanjung Duren |     Kota Jakarta Barat |
|       99 |              Jue Coffee Mangga Besar |     Kota Jakarta Barat |
|      100 |                Jue Coffee Gajah Mada |     Kota Jakarta Pusat |
+----------+--------------------------------------+------------------------+

In [10]:
%%sql

select * from products

+------------+-----------------------------------+-------------+------------+------------+
| product_id |                      product_name | category_id | unit_price | base_price |
+------------+-----------------------------------+-------------+------------+------------+
|        101 |            Kopi Telur Tradisional |           1 |      18000 |      13320 |
|        102 |          Kopi Kelapa Khas Vietnam |           1 |      22000 |      14960 |
|        103 |        Kopi Vietnam Drip Original |           1 |      20000 |      13600 |
|        104 |                 Kopi Butter Gurih |           1 |      19000 |      12350 |
|        105 |    Kopi Susu Kampung Kental Manis |           1 |      15000 |      10800 |
|        106 |               Kopi Coklat Spesial |           1 |      21000 |      15750 |
|        107 |                 Es Kopi Susu Aren |           1 |      23000 |      16100 |
|        108 |              Es Kopi Hitam Dingin |           1 |      16000 |      11040 |
|        109 |         Es Kopi Hitam Lemon Segar |           1 |      18000 |      12600 |
|        110 |       Drip Bag Coffee Lokal Blend |           1 |      25000 |      17250 |
|        111 |                     Espresso Shot |           1 |      12000 |       8160 |
|        112 |                   Americano Panas |           1 |      18000 |      12960 |
|        113 |                       Latte Panas |           1 |      28000 |      18480 |
|        114 |                  Cappuccino Panas |           1 |      28000 |      20160 |
|        115 |                   Macchiato Panas |           1 |      28000 |      18200 |
|        116 |                       Mocha Panas |           1 |      32000 |      22400 |
|        117 |                   Kopi Susu Regal |           1 |      25000 |      16250 |
|        118 |                 Kopi Pandan Latte |           1 |      27000 |      17550 |
|        119 |               Ice Shaken Espresso |           1 |      29000 |      21750 |
|        120 |                   Cold Brew Black |           1 |      28000 |      19040 |
|        121 |                   Cold Brew White |           1 |      32000 |      20800 |
|        122 |                          Affogato |           1 |      30000 |      19500 |
|        123 |                   Manual Brew V60 |           1 |      35000 |      22750 |
|        124 |             Manual Brew Aeropress |           1 |      35000 |      26250 |
|        125 |            Filter Coffee Seasonal |           1 |      38000 |      24700 |
|        126 |              Kopi Hitam Gula Aren |           1 |      17000 |      12750 |
|        127 |                 Kopi Susu Caramel |           1 |      26000 |      18200 |
|        128 |               Kopi Hazelnut Latte |           1 |      26000 |      17680 |
|        129 |                 Kopi Vanila Latte |           1 |      26000 |      18460 |
|        130 |        Jue Coffee Signature Latte |           1 |      30000 |      20400 |
|        201 |              Matcha Latte Premium |           2 |      38000 |      26600 |
|        202 |             Pure Chocolate Dingin |           2 |      40000 |      26000 |
|        203 |                   Lemon Tea Segar |           2 |      25000 |      17500 |
|        204 |           Red Velvet Latte Creamy |           2 |      39000 |      25350 |
|        205 |                 Thai Tea Original |           2 |      28000 |      21000 |
|        206 |                   Green Tea Latte |           2 |      36000 |      23400 |
|        207 |                        Taro Latte |           2 |      37000 |      27380 |
|        208 |              Strawberry Milkshake |           2 |      35000 |      24500 |
|        209 |            Cookies & Cream Frappe |           2 |      42000 |      27300 |
|        210 |                     Virgin Mojito |           2 |      33000 |      22440 |
|        211 |                        Lychee Tea |           2 |      29000 |      20000 |
|        212 |                         Peach Tea |           2 |      29000 |      18850 |
|        213 |         Hot Chocolate Marshmallow |           2 |      35000 |      22750 |
|        214 |                        Chai Latte |           2 |      34000 |      25160 |
|        215 |                        Susu Regal |           2 |      28000 |      19600 |
|        216 |                Orange Juice Fresh |           2 |      30000 |      21000 |
|        217 |                       Jus Alpukat |           2 |      32000 |      20800 |
|        218 |                     Mineral Water |           2 |      10000 |       6800 |
|        219 |                   Sparkling Water |           2 |      15000 |       9900 |
|        220 |                        Ginger Ale |           2 |      20000 |      14000 |
|        301 |             French Fries Original |           3 |      25000 |      18000 |
|        302 |                    Chicken Nugget |           3 |      28000 |      19600 |
|        303 |                 Mini Spring Rolls |           3 |      26000 |      17420 |
|        304 |                       Samosa Ayam |           3 |      27000 |      17550 |
|        305 |                     Edamame Rebus |           3 |      22000 |      14300 |
|        306 |                   Crispy Mushroom |           3 |      29000 |      18850 |
|        307 |                       Onion Rings |           3 |      27000 |      19440 |
|        308 |                Fish & Chips Bites |           3 |      35000 |      22750 |
|        309 |                     Nachos Cheese |           3 |      38000 |      24700 |
|        310 |                Sweet Potato Fries |           3 |      28000 |      18200 |
|        401 |                  Butter Croissant |           4 |      28000 |      18200 |
|        402 |               Chocolate Croissant |           4 |      32000 |      20800 |
|        403 |                  Almond Croissant |           4 |      35000 |      23450 |
|        404 |                  Pain Au Chocolat |           4 |      30000 |      19500 |
|        405 |                     Cinnamon Roll |           4 |      29000 |      21750 |
|        406 |                Banana Bread Slice |           4 |      25000 |      17000 |
|        407 |             Red Velvet Cake Slice |           4 |      45000 |      29250 |
|        408 |        Chocolate Fudge Cake Slice |           4 |      45000 |      31050 |
|        409 |        Blueberry Cheesecake Slice |           4 |      48000 |      31200 |
|        410 |                 Marble Cake Slice |           4 |      38000 |      24700 |
|        411 |           Scones with Jam & Cream |           4 |      33000 |      22440 |
|        412 |                Muffin Coklat Chip |           4 |      27000 |      19170 |
|        413 |                  Muffin Blueberry |           4 |      27000 |      17820 |
|        414 |                        Donat Gula |           4 |      18000 |      12600 |
|        415 |                Cookies Chocochips |           4 |      22000 |      15400 |
|        501 |                  Classic Omelette |           5 |      40000 |      26000 |
|        502 |           Scrambled Eggs on Toast |           5 |      42000 |      27300 |
|        503 |    Avocado Toast with Poached Egg |           5 |      55000 |      35750 |
|        504 |         Pancakes with Maple Syrup |           5 |      48000 |      31200 |
|        505 |              Waffles with Berries |           5 |      50000 |      32500 |
|        506 |          Granola Bowl with Yogurt |           5 |      45000 |      31050 |
|        507 |               Fruit Platter Fresh |           5 |      35000 |      22750 |
|        508 |                  Chicken Porridge |           5 |      38000 |      27740 |
|        601 |              Spaghetti Aglio Olio |           6 |      65000 |      47450 |
|        602 |           Chicken Carbonara Pasta |           6 |      70000 |      45500 |
|        603 |           Nasi Goreng Kampung Jue |           6 |      58000 |      43500 |
|        604 |                Mie Goreng Tek-Tek |           6 |      55000 |      35750 |
|        605 | Caesar Salad with Grilled Chicken |           6 |      60000 |      42000 |
|        606 |          Chicken Katsu Curry Rice |           6 |      75000 |      50250 |
|        607 |     Crispy Dory with Tartar Sauce |           6 |      72000 |      46800 |
|        608 |             Club Sandwich Classic |           6 |      55000 |      37950 |
|        609 |            Beef Burger with Fries |           6 |      80000 |      52800 |
|        610 |              Grilled Salmon Steak |           6 |      95000 |      61750 |
|        701 |         Ice Cream Scoop (Vanilla) |           7 |      20000 |      14000 |
|        702 |       Ice Cream Scoop (Chocolate) |           7 |      20000 |      13000 |
|        703 |      Ice Cream Scoop (Strawberry) |           7 |      20000 |      14000 |
|        704 |           Jue Coffee Banana Split |           7 |      40000 |      26000 |
|        705 |   Molten Lava Cake with Ice Cream |           7 |      50000 |      32500 |
|        706 |               Panna Cotta Berries |           7 |      45000 |      29250 |
|        707 |                   Tiramisu Klasik |           7 |      48000 |      33600 |
+------------+-----------------------------------+-------------+------------+------------+

In [7]:
%%sql

select * from transactions

+--------------------------------------+------------+----------+-------------+------------+----------+----------------+--------+
|                       transaction_id |       date | store_id | customer_id | product_id | quantity | payment_method |  price |
+--------------------------------------+------------+----------+-------------+------------+----------+----------------+--------+
| b2b9437a-28df-4ec4-8e4a-2bbdc241330b | 2023-07-20 |       88 |        None |        206 |        1 |          Gopay |  36000 |
| 18c26797-6142-4a7d-97be-31111a2a73ed | 2023-07-16 |       89 |        None |        503 |        1 |           Cash |  55000 |
| ec1b8ca1-f91e-4d4c-9ff4-9b7889463e85 | 2023-07-17 |       21 |        None |        411 |        1 |           DANA |  33000 |
| 0bbb2599-11ce-4dd2-b45e-d1f03139d32c | 2023-07-12 |       75 |        None |        111 |        1 |           QRIS |  12000 |
| d58842de-a2bc-472f-b412-b29347294739 | 2023-07-16 |       42 |        None |        218 |        2 |          Gopay |  20000 |
| a5e5a5ab-aefc-4ad8-afc8-9849b3aa7efe | 2023-07-04 |       44 |        None |        409 |        1 |            Ovo |  48000 |
| ece66fa2-fd51-46e6-851b-4cf36123fdf7 | 2023-07-27 |       57 |        None |        605 |        2 |           Cash | 120000 |
| 50c187fc-ce17-4b4e-8837-b8a3d261a7ab | 2023-07-18 |       69 |        None |        109 |        1 |           DANA |  18000 |
| e27a984d-6548-41d0-bfcd-9eb1a7cad415 | 2023-07-22 |       37 |        None |        204 |        1 |          Gopay |  39000 |
| 95a76d79-bf3c-4c06-8343-08bc89fa6a68 | 2023-07-20 |      103 |        None |        217 |        1 |            Ovo |  32000 |
| 0c0fd195-c17a-408a-9745-d6d87e570ddf | 2023-07-07 |       40 |        None |        506 |        1 |     Debit card |  45000 |
| 988c24c9-61b1-4d22-a280-1c4510435a10 | 2023-07-22 |       65 |        None |        411 |        1 |           QRIS |  33000 |
| a4161293-c4c2-42e3-844e-a7c8c0398710 | 2023-07-15 |       29 |        None |        208 |        2 |            Ovo |  70000 |
| e037e5ed-b8db-4672-b42d-47cc00d4af59 | 2023-07-13 |      129 |        None |        705 |        1 |           QRIS |  50000 |
| 9be578c7-81f6-41d4-a392-31a7d777a477 | 2023-07-11 |       40 |        None |        218 |        1 |           Cash |  10000 |
| 1ca35cfb-04fc-4d82-bd15-438552fbe43b | 2023-07-16 |       79 |        None |        201 |        1 |          Gopay |  38000 |
| bb5e4bcf-15ed-4269-9429-6c07f26b4776 | 2023-07-23 |       18 |        None |        705 |        4 |            Ovo | 200000 |
| 8cbfedb0-f264-4ccc-b9ac-1b1ea8e56e0c | 2023-07-09 |       68 |        None |        408 |        2 |          Gopay |  90000 |
| 337ea2df-b09b-4a5c-badc-c32ac1590f53 | 2023-07-15 |      103 |        None |        603 |        2 |    Credit card | 116000 |
| 3985c3cf-3f76-4e1d-9efa-21977394988f | 2023-07-04 |       87 |        None |        103 |        4 |          Gopay |  80000 |
| b535106e-122c-4a56-81d7-425638602ab6 | 2023-07-03 |       59 |        None |        109 |        1 |           DANA |  18000 |
| ab4220a7-474a-493b-bced-df2d839fbc50 | 2023-07-23 |       55 |        None |        410 |        1 |    Credit card |  38000 |
| 683514f2-ceb8-4f9d-b914-c120c8dcd19f | 2023-07-11 |       25 |        None |        113 |        2 |           DANA |  56000 |
| baa4b71a-dd24-47ac-b78e-edb3693dffbc | 2023-07-03 |       26 |        None |        108 |        2 |           DANA |  32000 |
| 894a05e4-30b1-47ef-b10c-0c003fa7f104 | 2023-07-21 |       36 |        None |        305 |        1 |      ShopeePay |  22000 |
| 134c6c92-ec5b-427c-9fde-4fbf3ff350bf | 2023-07-21 |       26 |        None |        107 |        4 |           Cash |  92000 |
| 3c835dc0-d944-4fa5-80e9-ab30ed2662e9 | 2023-07-09 |      105 |        None |        403 |        3 |          Gopay | 105000 |
| 610461e3-2a25-4888-8f02-bad0e7067ef4 | 2023-07-01 |      100 |        None |        204 |        2 |      ShopeePay |  78000 |
| fed4057d-bb02-4576-b512-c4c3b253d218 | 2023-07-27 |      125 |        None |        120 |        1 |      ShopeePay |  28000 |
| bc594585-9445-48c0-8ef8-c2d6f7fd5646 | 2023-07-27 |       16 |        None |        703 |        2 |           Cash |  43355 |
| f5f59b22-0e8f-48e0-a84d-82e587f7e1fb | 2023-07-24 |       21 |        None |        904 |        1 |           QRIS | 300000 |
| 3c365296-dca0-4eec-acda-bacc1165e210 | 2023-07-18 |       31 |        None |       1004 |        1 |           Cash |  90000 |
| 956b8c0c-a849-4b92-ab52-52e314fcdd54 | 2023-07-28 |       81 |        None |        204 |        1 |           DANA |  39000 |
| abf3e3fc-2181-4d25-a552-38a643ff5011 | 2023-07-14 |      118 |        None |        211 |        1 |           Cash |  29000 |
| ff002d4d-9020-49e4-bf9a-b5c29f044aed | 2023-07-06 |       19 |        None |        409 |        1 |      ShopeePay |  48000 |
| 119c4ea3-e180-4081-9958-a499eeea163e | 2023-07-13 |       95 |        None |        207 |        1 |    Credit card |  37000 |
| fbddcf7c-9c96-49ec-8d71-c366b41b3143 | 2023-07-26 |        3 |        None |        603 |        4 |      ShopeePay | 232000 |
| 43b409ef-2260-470f-a0cc-edc5f05db76e | 2023-07-07 |       28 |        None |        703 |        4 |            Ovo |  80000 |
| b7b56ea7-35eb-432d-9ad6-20ab48212ddb | 2023-07-15 |       53 |        None |        605 |        1 |    Credit card |  60000 |
| 0d01280f-d89a-40c0-a87d-1c78e7c421c7 | 2023-07-06 |      109 |        None |        902 |        1 |           Cash | 441000 |
| 430f801d-fad4-49e2-a319-dcb4217d65a0 | 2023-07-09 |      114 |        None |        411 |        2 |           Cash |  66000 |
| b0e6a969-e213-42b0-b1ee-dba313432e61 | 2023-07-09 |       10 |        None |        902 |        2 |            Ovo | 900000 |
| 5d59cd2a-4eea-44e7-8ab5-4bde20a04502 | 2023-07-02 |       92 |        None |        127 |        1 |           QRIS |  26000 |
| dfed2c43-e256-46dc-8f54-86b7c7b5b2bc | 2023-07-19 |       40 |        None |        201 |        1 |            Ovo |  38000 |
| ecab3301-bc8f-4d29-adea-94930658663a | 2023-07-15 |      106 |        None |        803 |        1 |      ShopeePay | 150000 |
| 61ee411a-1bac-47a7-b386-f7a4c991603f | 2023-07-02 |      121 |        None |        129 |        1 |    Credit card |  26000 |
| df0f06cb-cb9b-4326-920e-ac174e20fd1a | 2023-07-12 |       58 |        None |        104 |        1 |     Debit card |  19000 |
| f7860b50-11c5-4ef0-9d46-3c09475287aa | 2023-07-14 |       90 |        None |        508 |        3 |     Debit card | 114000 |
| 1d870966-0710-4430-b071-d87954c63cd8 | 2023-07-13 |       46 |        None |        415 |        1 |           Cash |  22000 |
| ba81edd9-587e-4344-af3f-920c98b8e4cc | 2023-07-15 |      112 |        None |        503 |        3 |           QRIS | 165000 |
| 41357e8c-30a9-40ad-939b-462de645f129 | 2023-07-02 |      112 |        None |        101 |        3 |          Gopay |  54000 |
| aa0b7b14-f2e9-402d-91e9-cdaa6e6981a3 | 2023-07-15 |       81 |        None |        602 |        1 |      ShopeePay |  70000 |
| 5380b904-688c-4015-aab9-7e494f2d4796 | 2023-07-18 |       76 |        None |        411 |        1 |          Gopay |  33000 |
| ad64b56c-610f-4a3f-b0bb-ac67aa38d0a1 | 2023-07-10 |       78 |        None |        302 |        4 |           Cash | 112000 |
| c9277d9b-6e0d-4648-b5ce-884149732d6c | 2023-07-29 |       83 |        None |        310 |        2 |    Credit card |  56000 |
| e6b3c944-cb32-4e35-b922-bac282dc4c8e | 2023-07-10 |       22 |        None |        207 |        3 |           DANA | 111000 |
| 3c20592f-c04a-46c4-b3b6-3fe1d1843324 | 2023-07-15 |       58 |        None |        804 |        1 |            Ovo |  87742 |
| 12a4def0-c4bb-47a9-9988-68dd9c7c7377 | 2023-07-22 |      107 |        None |       1004 |        1 |     Debit card |  90000 |
| a7f36ae9-25c7-4c44-be75-c3b4664fa663 | 2023-07-01 |       28 |        None |        707 |        2 |          Gopay |  96000 |
| 8498e113-b227-462c-b53d-4330cdda24ba | 2023-07-22 |       13 |        None |        412 |        1 |           QRIS |  27000 |
| aae65fc1-76f2-4bfe-8d29-a36f222282e1 | 2023-07-26 |       82 |        None |        704 |        2 |     Debit card |  80000 |
| be6033f7-28be-4288-a5af-6e39722764e6 | 2023-07-23 |      116 |        None |        204 |        1 |      ShopeePay |  39000 |
| 464c04af-3d3f-4799-a072-95e97c0e8cd8 | 2023-07-21 |       20 |        None |        609 |        1 |          Gopay |  80000 |
| 8a476a87-e49d-481d-91d8-7c6455fa1ab8 | 2023-07-05 |       36 |        None |        120 |        1 |     Debit card |  28000 |
| 6a34c854-1071-4d51-b6c5-9dacb4d7e28e | 2023-07-19 |       85 |        None |        410 |        2 |     Debit card |  74320 |
| b20dcb6e-f231-4f17-9586-3a76c51155ff | 2023-07-01 |       98 |        None |        402 |        1 |           DANA |  32000 |
| e4429ebb-da7b-4095-a3d6-2a39c0e3befd | 2023-07-19 |       57 |        None |        403 |        1 |      ShopeePay |  35000 |
| 560c95ee-638c-454c-876e-2bba7c5308bf | 2023-07-18 |       43 |        None |        903 |        2 |            Ovo | 360000 |
| 64de82e6-e82c-4d7b-86e7-45f988bc539c | 2023-07-29 |        7 |        None |        111 |        2 |            Ovo |  24000 |
| 610cf373-4299-4aa4-8cdf-742b2e85cb21 | 2023-07-15 |       55 |        None |        309 |        2 |           DANA |  76000 |
| d4f8fd72-f382-4cfd-8083-b73a473bd358 | 2023-07-20 |       65 |        None |        902 |        1 |    Credit card | 425179 |
| a6d964a3-f510-4b53-87fe-e39f1190f938 | 2023-07-02 |        8 |        None |        202 |        1 |           Cash |  40000 |
| 793b4c32-2050-4494-bd11-48022702878b | 2023-07-07 |       56 |        None |        310 |        1 |           DANA |  28000 |
| bf780e3f-f6b7-41f7-9b74-92459b1bc895 | 2023-07-07 |       42 |        None |        210 |        1 |           Cash |  33000 |
| f54ad0a2-e874-46d7-ad66-a1bd93676a02 | 2023-07-17 |      102 |        None |        609 |        1 |           QRIS |  80000 |
| 3e2b6091-a092-452a-94a0-57a7b0cc1b3b | 2023-07-06 |       78 |        None |        904 |        1 |           Cash | 300000 |
| 5eddbbbf-a959-4663-adaa-2e688861fe18 | 2023-07-04 |      130 |        None |        508 |        2 |           Cash |  76000 |
| 6efb63b1-1b04-4863-bd7d-dbedd284476c | 2023-07-16 |      118 |        None |        608 |        1 |     Debit card |  55000 |
| a6846099-f729-4951-8591-31d2bbda0242 | 2023-07-13 |      124 |        None |        310 |        2 |      ShopeePay |  56000 |
| ef43613c-d4aa-49a3-bed8-c56cda09dfa0 | 2023-07-05 |       72 |        None |       1003 |        2 |          Gopay | 150000 |
| 6105716b-ab0e-464e-9c3e-b2d591e1aa96 | 2023-07-15 |        8 |        None |        404 |        2 |            Ovo |  60000 |
| 4223623b-cc3e-4dde-9ad5-cf06364d7c87 | 2023-07-15 |       72 |        None |       1003 |        1 |           Cash |  75000 |
| 3dc98290-15ea-4b27-b0e9-12f2f2b43abf | 2023-07-19 |      126 |        None |        412 |        1 |    Credit card |  27000 |
| 17d2582e-046a-4df5-8afd-a61372bb912d | 2023-07-14 |       57 |        None |        302 |        1 |      ShopeePay |  28000 |
| 87ea7ff5-8db0-4746-b927-99735e781fd7 | 2023-07-15 |      109 |        None |        703 |        4 |           DANA |  80000 |
| 4e7ed827-455a-4762-b428-a656b3ee4d3b | 2023-07-13 |       60 |        None |        116 |        1 |           DANA |  32000 |
| c31edbbc-f36c-462b-892e-6161be2d740a | 2023-07-11 |       50 |        None |        128 |        3 |      ShopeePay |  78000 |
| 98c7472a-864e-4a13-829c-fc0cfa02eaec | 2023-07-14 |       26 |        None |        902 |        1 |      ShopeePay | 450000 |
| 039f3a25-4d61-48bd-adef-e1935c62b3a2 | 2023-07-26 |       33 |        None |        206 |        1 |           Cash |  36000 |
| 2053da42-f1af-4b65-b289-f2244ac9778d | 2023-07-23 |       27 |        None |       1002 |        1 |      ShopeePay | 120000 |
| 2f32751e-5738-411d-b0c2-903f7a8d03aa | 2023-07-03 |       65 |        None |       1001 |        3 |           QRIS | 255000 |
| 93b7a886-12f7-4c97-bde3-1a516694c343 | 2023-07-03 |       39 |        None |        120 |        1 |           QRIS |  28000 |
| 6a8a616f-c3b2-40d0-8edd-dfcd1e52d770 | 2023-07-30 |       58 |        None |        707 |        3 |     Debit card | 144000 |
| dc33e1f9-4c1f-45ab-b156-29eee893be3d | 2023-07-29 |      110 |        None |        210 |        1 |           QRIS |  33000 |
| a911d192-43bf-4931-b605-bf54a021c0ca | 2023-07-05 |       41 |        None |        201 |        1 |           QRIS |  38000 |
| b07aa066-7354-45ea-a894-9b8d00af5b3a | 2023-07-29 |      121 |        None |        208 |        1 |          Gopay |  35000 |
| dc0f2fcf-b3f6-4e0d-8860-3b32b4fb0eb9 | 2023-07-22 |       19 |        None |        605 |        1 |      ShopeePay |  60000 |
| 32a447b2-ef04-457d-8dcc-c33aa9434aa0 | 2023-07-20 |       30 |        None |        410 |        1 |            Ovo |  38000 |
| 0f44704f-1247-4a4e-a469-98e8d39e198b | 2023-07-09 |       79 |        None |        502 |        1 |    Credit card |  42000 |
| b321bf21-4dd8-4b85-b04d-337677fc9703 | 2023-07-18 |       70 |        None |        405 |        4 |    Credit card | 116000 |
+--------------------------------------+------------+----------+-------------+------------+----------+----------------+--------+