# Bronze Medalion

In [1]:
%%sql

create database if not exists brz_hospital_db;

25/08/11 06:12:17 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [1]:
%%sql

show databases;

25/08/11 07:36:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------------+
|           namespace |
+---------------------+
|     brz_hospital_db |
|          coffeeshop |
| coffeeshop_medalion |
+---------------------+

In [2]:
%%sql

use brz_hospital_db

++
||
++
++

In [36]:
%%sql

Drop table patients

++
||
++
++

In [37]:
%%sql

Drop table encounters

++
||
++
++

In [38]:
%%sql

Drop table payers

++
||
++
++

In [39]:
%%sql

Drop table procedures

++
||
++
++

In [40]:
%%sql

CREATE TABLE if not exists brz_patients (
    Id String,
    BIRTHDATE DATE NOT NULL,
    DEATHDATE DATE,
    PREFIX String,
    FIRST String NOT NULL,
    LAST String NOT NULL,
    SUFFIX String,
    MAIDEN String,
    MARITAL String,
    RACE String NOT NULL,
    ETHNICITY String NOT NULL,
    GENDER String NOT NULL,
    BIRTHPLACE String NOT NULL,
    ADDRESS String NOT NULL,
    CITY String NOT NULL,
    STATE String NOT NULL,
    COUNTY String NOT NULL,
    ZIP String,
    LAT DECIMAL(10, 8) NOT NULL,
    LON DECIMAL(11, 8) NOT NULL
);

++
||
++
++

In [41]:
%%sql
    
CREATE TABLE if not exists brz_payers (
    Id string,
    NAME string NOT NULL,
    ADDRESS string,
    CITY string,
    STATE_HEADQUARTERED string,
    ZIP string,
    PHONE string
);

++
||
++
++

In [42]:
%%sql

CREATE TABLE if not exists brz_encounters (
    Id string,
    START TIMESTAMP NOT NULL,
    STOP TIMESTAMP NOT NULL,
    PATIENT string NOT NULL,
    ORGANIZATION string NOT NULL,
    PAYER string NOT NULL,
    ENCOUNTERCLASS string NOT NULL,
    CODE BIGINT NOT NULL,
    DESCRIPTION STRING NOT NULL,
    BASE_ENCOUNTER_COST DECIMAL(10, 2) NOT NULL,
    TOTAL_CLAIM_COST DECIMAL(10, 2) NOT NULL,
    PAYER_COVERAGE DECIMAL(10, 2) NOT NULL,
    REASONCODE BIGINT,
    REASONDESCRIPTION STRING
);

++
||
++
++

In [43]:
%%sql

CREATE TABLE if not exists brz_procedures (
    START TIMESTAMP NOT NULL,
    STOP TIMESTAMP NOT NULL,
    PATIENT string NOT NULL,
    ENCOUNTER string NOT NULL,
    CODE BIGINT NOT NULL,
    DESCRIPTION STRING NOT NULL,
    BASE_COST DECIMAL(10, 2) NOT NULL,
    REASONCODE BIGINT,
    REASONDESCRIPTION STRING
);

++
||
++
++

In [44]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [45]:
%%sql

show tables;

+-----------------+----------------+-------------+
|       namespace |      tableName | isTemporary |
+-----------------+----------------+-------------+
| brz_hospital_db | brz_encounters |       False |
| brz_hospital_db |   brz_patients |       False |
| brz_hospital_db |     brz_payers |       False |
| brz_hospital_db | brz_procedures |       False |
+-----------------+----------------+-------------+

In [46]:
path_csv = 'encounters.csv'
df_encounters = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_encounters.printSchema()

print("\nContoh Data:")
df_encounters.show(5)

df_encounters.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ORGANIZATION: string (nullable = true)
 |-- PAYER: string (nullable = true)
 |-- ENCOUNTERCLASS: string (nullable = true)
 |-- CODE: integer (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_ENCOUNTER_COST: double (nullable = true)
 |-- TOTAL_CLAIM_COST: double (nullable = true)
 |-- PAYER_COVERAGE: double (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = true)


Contoh Data:
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
|                  Id|              START|               STOP|             PATIENT|        ORGANIZATION|               PAYER|ENCOUNTERCLASS|     CODE|         DESCRIPTION|BASE_ENCOUNTER_COST|TOTAL_CLAIM_COST|PAYER_COVERAGE|REASONCODE|REASONDESCRIPTION|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
|32c84703-2481-49c...|2011-01-02 09:26:36|2011-01-02 12:58:36|3de74169-7f67-930...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    ambulatory|185347001|Encounter for pro...|              85.55|         1018.02|           0.0|      NULL|             NULL|
|c98059da-320a-c0a...|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e44-32e9-914...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|    outpatient|308335008|Patient encounter...|             142.58|         2619.36|           0.0|      NULL|             NULL|
|4ad28a3a-2479-782...|2011-01-03 14:32:11|2011-01-03 14:47:11|73babadf-5b2b-fee...|d78e84ec-30aa-3bb...|7caa7254-5050-3b5...|    outpatient|185349003|Encounter for che...|              85.55|          461.59|        305.27|      NULL|             NULL|
|c3f4da61-e4b4-21d...|2011-01-03 16:24:45|2011-01-03 16:39:45|3b46a0b7-0f34-9b9...|d78e84ec-30aa-3bb...|b1c428d6-4f07-31e...|      wellness|162673000|General examinati...|              136.8|         1784.24|           0.0|      NULL|             NULL|
|a9183b4f-2572-72e...|2011-01-03 17:36:53|2011-01-03 17:51:53|fa006887-d93c-d30...|d78e84ec-30aa-3bb...|42c4fca7-f8a9-3cd...|    ambulatory|390906007| Follow-up encounter|              85.55|          234.72|           0.0|  55822004|   Hyperlipidemia|
+--------------------+-------------------+-------------------+--------------------+--------------------+--------------------+--------------+---------+--------------------+-------------------+----------------+--------------+----------+-----------------+
only showing top 5 rows

In [47]:
df_encounters.write.insertInto("brz_encounters",overwrite=True)

In [48]:
%%sql

select count(*) from brz_encounters

+----------+
| count(1) |
+----------+
|    27891 |
+----------+

In [49]:
df_encounters.count()

27891

In [50]:
path_csv = 'patients.csv'
df_patients = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_patients.printSchema()

print("\nContoh Data:")
df_patients.show(5)

df_patients.createOrReplaceTempView("Product")

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- BIRTHDATE: date (nullable = true)
 |-- DEATHDATE: date (nullable = true)
 |-- PREFIX: string (nullable = true)
 |-- FIRST: string (nullable = true)
 |-- LAST: string (nullable = true)
 |-- SUFFIX: string (nullable = true)
 |-- MAIDEN: string (nullable = true)
 |-- MARITAL: string (nullable = true)
 |-- RACE: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- BIRTHPLACE: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- COUNTY: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- LAT: double (nullable = true)
 |-- LON: double (nullable = true)


Contoh Data:
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
|                  Id| BIRTHDATE| DEATHDATE|PREFIX|    FIRST|         LAST|SUFFIX|   MAIDEN|MARITAL| RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|  CITY|        STATE|        COUNTY| ZIP|               LAT|         LON|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
|5605b66b-e92d-c16...|1977-03-19|      NULL|  Mrs.|Nikita578|    Erdman779|  NULL|Leannon79|      M|white|nonhispanic|     F|Wakefield  Massac...|510 Little Statio...|Quincy|Massachusetts|Norfolk County|2186|42.290937381211286|-70.97550306|
|6e5ae27c-8038-798...|1940-02-19|      NULL|   Mr.|  Zane918|Hodkiewicz467|  NULL|     NULL|      M|white|nonhispanic|     M|Brookline  Massac...| 747 Conn Throughway|Boston|Massachusetts|Suffolk County|2135|42.308831197562505| -71.0631616|
|8123d076-0886-900...|1958-06-04|      NULL|   Mr.| Quinn173| Marquardt819|  NULL|     NULL|      M|white|nonhispanic|     M|Gardner  Massachu...|816 Okuneva Exten...|Quincy|Massachusetts|Norfolk County|2170| 42.26517684888508|-70.96708508|
|770518e4-6133-648...|1928-12-25|2017-09-29|   Mr.|  Abel832|   Smitham825|  NULL|     NULL|      M|white|   hispanic|     M|Randolph  Massach...|127 Cole Way Unit 95|Boston|Massachusetts|Suffolk County|2118|42.334303740740594| -71.0668012|
|f96addf5-81b9-0aa...|1928-12-25|2014-02-23|   Mr.| Edwin773|   Labadie908|  NULL|     NULL|      M|white|   hispanic|     M|Stow  Massachuset...| 976 Ziemann Gateway|Boston|Massachusetts|Suffolk County|2125|42.346771403899275|-71.05881297|
+--------------------+----------+----------+------+---------+-------------+------+---------+-------+-----+-----------+------+--------------------+--------------------+------+-------------+--------------+----+------------------+------------+
only showing top 5 rows

In [51]:
df_patients.write.insertInto("brz_patients",overwrite=True)

In [52]:
%%sql

select count(*) from brz_patients

+----------+
| count(1) |
+----------+
|      974 |
+----------+

In [53]:
df_patients.count()

974

In [54]:
path_csv = 'payers.csv'
df_payers = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_payers.printSchema()

print("\nContoh Data:")
df_payers.show(5)

df_payers.createOrReplaceTempView("Product")

df_payers.write.insertInto("brz_payers",overwrite=True)

df_payers.count()

Skema DataFrame:
root
 |-- Id: string (nullable = true)
 |-- NAME: string (nullable = true)
 |-- ADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE_HEADQUARTERED: string (nullable = true)
 |-- ZIP: integer (nullable = true)
 |-- PHONE: string (nullable = true)


Contoh Data:
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
|                  Id|                NAME|           ADDRESS|      CITY|STATE_HEADQUARTERED|  ZIP|         PHONE|
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
|b3221cfc-24fb-339...|       Dual Eligible|7500 Security Blvd| Baltimore|                 MD|21244|1-877-267-2323|
|7caa7254-5050-3b5...|            Medicare|7500 Security Blvd| Baltimore|                 MD|21244|1-800-633-4227|
|7c4411ce-02f1-39b...|            Medicaid|7500 Security Blvd| Baltimore|                 MD|21244|1-877-267-2323|
|d47b3510-2895-3b7...|              Humana|  500 West Main St|Louisville|                 KY|40018|1-844-330-7799|
|6e2f1a2d-27bd-370...|Blue Cross Blue S...|    Michigan Plaza|   Chicago|                 IL|60007|1-800-262-2583|
+--------------------+--------------------+------------------+----------+-------------------+-----+--------------+
only showing top 5 rows

10

In [55]:
%%sql

select count(*) from brz_payers

+----------+
| count(1) |
+----------+
|       10 |
+----------+

In [56]:
path_csv = 'procedures.csv'
df_procedures = spark.read.csv(path_csv, header=True, inferSchema=True)

# (Opsional) Tampilkan skema dan beberapa baris data untuk memastikan berhasil
print("Skema DataFrame:")
df_procedures.printSchema()

print("\nContoh Data:")
df_procedures.show(5)

df_procedures.createOrReplaceTempView("Product")

df_procedures.write.insertInto("brz_procedures",overwrite=True)

df_procedures.count()

Skema DataFrame:
root
 |-- START: timestamp (nullable = true)
 |-- STOP: timestamp (nullable = true)
 |-- PATIENT: string (nullable = true)
 |-- ENCOUNTER: string (nullable = true)
 |-- CODE: long (nullable = true)
 |-- DESCRIPTION: string (nullable = true)
 |-- BASE_COST: integer (nullable = true)
 |-- REASONCODE: long (nullable = true)
 |-- REASONDESCRIPTION: string (nullable = true)


Contoh Data:
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
|              START|               STOP|             PATIENT|           ENCOUNTER|     CODE|         DESCRIPTION|BASE_COST|REASONCODE|   REASONDESCRIPTION|
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
|2011-01-02 09:26:36|2011-01-02 12:58:36|3de74169-7f67-930...|32c84703-2481-49c...|265764009|Renal dialysis (p...|      903|      NULL|                NULL|
|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e44-32e9-914...|c98059da-320a-c0a...| 76601001|Intramuscular inj...|     2477|      NULL|                NULL|
|2011-01-04 14:49:55|2011-01-04 15:04:55|d856d6e6-4c98-e7a...|2cfd4ddd-ad13-fe1...|703423002|Combined chemothe...|    11620| 363406005|Malignant tumor o...|
|2011-01-05 04:02:09|2011-01-05 04:17:09|bc9d59c3-0a30-6e3...|17966936-0878-f4d...|173160006|Diagnostic fibero...|     9796| 162573006|Suspected lung ca...|
|2011-01-05 12:58:36|2011-01-05 16:42:36|3de74169-7f67-930...|9de5f0b0-4ba4-ce6...|265764009|Renal dialysis (p...|     1255|      NULL|                NULL|
+-------------------+-------------------+--------------------+--------------------+---------+--------------------+---------+----------+--------------------+
only showing top 5 rows

47701

In [59]:
%%sql

select count(*) from brz_procedures

+----------+
| count(1) |
+----------+
|    47701 |
+----------+

# Silver Medalion

In [1]:
%%sql

create database if not exists slv_hospital_db;

25/08/12 10:31:08 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

++
||
++
++

In [2]:
%%sql

show databases;

+---------------------+
|           namespace |
+---------------------+
|     brz_hospital_db |
|          coffeeshop |
| coffeeshop_medalion |
|     slv_hospital_db |
+---------------------+

In [3]:
%%sql

use slv_hospital_db

++
||
++
++

In [6]:
%%sql

create table if not exists slv_patients

++
||
++
++

In [7]:
spark.sql("USE brz_hospital_db")
bronze_tables = ["brz_patients", "brz_payers", "brz_encounters", "brz_procedures"]
spark.sql("USE slv_hospital_db")

DataFrame[]

In [8]:
from pyspark.sql.functions import col, upper, regexp_replace, trim


def clean_string_spark(column):
    return trim(regexp_replace(column, "[^a-zA-Z0-9 ]", ""))

def upper_case_spark(column):
    return upper(column)

In [9]:
print("\nTransforming patients data...")
df_brz_patients = spark.table("brz_hospital_db.brz_patients")

df_slv_patients = df_brz_patients.select(
    clean_string_spark(col("Id")).alias("patient_id"),
    col("BIRTHDATE").alias("birth_date"),
    col("DEATHDATE").alias("death_date"),
    clean_string_spark(col("FIRST")).alias("first_name"),
    clean_string_spark(col("LAST")).alias("last_name"),
    upper_case_spark(col("GENDER")).alias("gender"),
    clean_string_spark(col("RACE")).alias("race"),
    clean_string_spark(col("ETHNICITY")).alias("ethnicity"),
    col("CITY").alias("city"),
    col("STATE").alias("state"),
    col("ZIP").alias("zip_code"),
    col("LAT").alias("latitude"),
    col("LON").alias("longitude")
)
print("Schema for slv_patients:")
df_slv_patients.printSchema()
print("Sample Data for slv_patients:")
df_slv_patients.show(5)

df_slv_patients.write.mode("overwrite").saveAsTable("slv_patients")
print("Successfully loaded transformed data into slv_hospital_db.slv_patients")

Transforming patients data...
Schema for slv_patients:
root
 |-- patient_id: string (nullable = true)
 |-- birth_date: date (nullable = false)
 |-- death_date: date (nullable = true)
 |-- first_name: string (nullable = false)
 |-- last_name: string (nullable = false)
 |-- gender: string (nullable = false)
 |-- race: string (nullable = false)
 |-- ethnicity: string (nullable = false)
 |-- city: string (nullable = false)
 |-- state: string (nullable = false)
 |-- zip_code: string (nullable = true)
 |-- latitude: decimal(10,8) (nullable = false)
 |-- longitude: decimal(11,8) (nullable = false)

Sample Data for slv_patients:

+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+
|          patient_id|birth_date|death_date|first_name|    last_name|gender| race|  ethnicity|  city|        state|zip_code|   latitude|   longitude|
+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+
|5605b66be92dc16c1...|1977-03-19|      NULL| Nikita578|    Erdman779|     F|white|nonhispanic|Quincy|Massachusetts|    2186|42.29093738|-70.97550306|
|6e5ae27c80387988e...|1940-02-19|      NULL|   Zane918|Hodkiewicz467|     M|white|nonhispanic|Boston|Massachusetts|    2135|42.30883120|-71.06316160|
|8123d07608869007e...|1958-06-04|      NULL|  Quinn173| Marquardt819|     M|white|nonhispanic|Quincy|Massachusetts|    2170|42.26517685|-70.96708508|
|770518e46133648e6...|1928-12-25|2017-09-29|   Abel832|   Smitham825|     M|white|   hispanic|Boston|Massachusetts|    2118|42.33430374|-71.06680120|
|f96addf581b90aab7...|1928-12-25|2014-02-23|  Edwin773|   Labadie908|     M|white|   hispanic|Boston|Massachusetts|    2125|42.34677140|-71.05881297|
+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+
only showing top 5 rows

Successfully loaded transformed data into slv_hospital_db.slv_patients

In [11]:
%%sql

select * from slv_patients limit 5

+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+
|                       patient_id | birth_date | death_date | first_name |     last_name | gender |  race |   ethnicity |   city |         state | zip_code |    latitude |    longitude |
+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+
| 5605b66be92dc16c1b83b8bf7040d51f | 1977-03-19 |       None |  Nikita578 |     Erdman779 |      F | white | nonhispanic | Quincy | Massachusetts |     2186 | 42.29093738 | -70.97550306 |
| 6e5ae27c80387988e2c025a103f01bfa | 1940-02-19 |       None |    Zane918 | Hodkiewicz467 |      M | white | nonhispanic | Boston | Massachusetts |     2135 | 42.30883120 | -71.06316160 |
| 8123d07608869007e956d5864aa121a7 | 1958-06-04 |       None |   Quinn173 |  Marquardt819 |      M | white | nonhispanic | Quincy | Massachusetts |     2170 | 42.26517685 | -70.96708508 |
| 770518e46133648e60c9071eb2f0e2ce | 1928-12-25 | 2017-09-29 |    Abel832 |    Smitham825 |      M | white |    hispanic | Boston | Massachusetts |     2118 | 42.33430374 | -71.06680120 |
| f96addf581b90aab7855d208d3d352c5 | 1928-12-25 | 2014-02-23 |   Edwin773 |    Labadie908 |      M | white |    hispanic | Boston | Massachusetts |     2125 | 42.34677140 | -71.05881297 |
+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+

In [14]:
print("\nTransforming payers data...")
df_brz_payers = spark.table("brz_hospital_db.brz_payers")

df_slv_payers = df_brz_payers.select(
    clean_string_spark(col("Id")).alias("payer_id"),
    clean_string_spark(col("NAME")).alias("payer_name"),
    col("CITY").alias("city"),
    col("STATE_HEADQUARTERED").alias("state_headquartered")
    # Select other relevant columns and apply cleaning
)

print("Schema for slv_payers:")
df_slv_payers.printSchema()
print("Sample Data for slv_payers:")
df_slv_payers.show(5)
df_slv_payers.write.mode("overwrite").saveAsTable("slv_payers")
print("Successfully loaded transformed data into slv_hospital_db.slv_payers")

Transforming payers data...
Schema for slv_payers:
root
 |-- payer_id: string (nullable = true)
 |-- payer_name: string (nullable = false)
 |-- city: string (nullable = true)
 |-- state_headquartered: string (nullable = true)

Sample Data for slv_payers:
+--------------------+--------------------+----------+-------------------+
|            payer_id|          payer_name|      city|state_headquartered|
+--------------------+--------------------+----------+-------------------+
|b3221cfc24fb339e8...|       Dual Eligible| Baltimore|                 MD|
|7caa725450503b5e9...|            Medicare| Baltimore|                 MD|
|7c4411ce02f139b5b...|            Medicaid| Baltimore|                 MD|
|d47b351028953b709...|              Humana|Louisville|                 KY|
|6e2f1a2d27bd37018...|Blue Cross Blue S...|   Chicago|                 IL|
+--------------------+--------------------+----------+-------------------+
only showing top 5 rows

Successfully loaded transformed data into slv_hospital_db.slv_payers

In [15]:
%%sql

select * from slv_payers limit 5;

+----------------------------------+------------------------+------------+---------------------+
|                         payer_id |             payer_name |       city | state_headquartered |
+----------------------------------+------------------------+------------+---------------------+
| b3221cfc24fb339e823dbc4136cbc4ed |          Dual Eligible |  Baltimore |                  MD |
| 7caa725450503b5e9eaebd5ea30e809c |               Medicare |  Baltimore |                  MD |
| 7c4411ce02f139b5b9ecdfbea9ad3c1a |               Medicaid |  Baltimore |                  MD |
| d47b351028953b709897342d681c769d |                 Humana | Louisville |                  KY |
| 6e2f1a2d27bd37018d08dae202c58632 | Blue Cross Blue Shield |    Chicago |                  IL |
+----------------------------------+------------------------+------------+---------------------+

In [12]:
df_brz_encounters = spark.table("brz_hospital_db.brz_encounters")

df_slv_encounters = df_brz_encounters.select(
    clean_string_spark(col("Id")).alias("encounter_id"),
    col("START").alias("start_time"),
    col("STOP").alias("stop_time"),
    clean_string_spark(col("PATIENT")).alias("patient_id"),
    clean_string_spark(col("PAYER")).alias("payer_id"),
    upper_case_spark(col("ENCOUNTERCLASS")).alias("encounter_class"),
    col("CODE").alias("encounter_code"),
    clean_string_spark(col("DESCRIPTION")).alias("encounter_description"),
    col("BASE_ENCOUNTER_COST").alias("base_cost_amount"),
    col("TOTAL_CLAIM_COST").alias("total_claim_amount"),
    col("PAYER_COVERAGE").alias("payer_coverage_amount"),
    col("REASONCODE").alias("reason_code"),
    clean_string_spark(col("REASONDESCRIPTION")).alias("reason_description")
)

print("Schema for slv_encounters:")
df_slv_encounters.printSchema()
print("Sample Data for slv_encounters:")
df_slv_encounters.show(5)
df_slv_encounters.write.mode("overwrite").saveAsTable("slv_encounters")
print("Successfully loaded transformed data into slv_hospital_db.slv_encounters")

Schema for slv_encounters:
root
 |-- encounter_id: string (nullable = true)
 |-- start_time: timestamp (nullable = false)
 |-- stop_time: timestamp (nullable = false)
 |-- patient_id: string (nullable = false)
 |-- payer_id: string (nullable = false)
 |-- encounter_class: string (nullable = false)
 |-- encounter_code: long (nullable = false)
 |-- encounter_description: string (nullable = false)
 |-- base_cost_amount: decimal(10,2) (nullable = false)
 |-- total_claim_amount: decimal(10,2) (nullable = false)
 |-- payer_coverage_amount: decimal(10,2) (nullable = false)
 |-- reason_code: long (nullable = true)
 |-- reason_description: string (nullable = true)

Sample Data for slv_encounters:
+--------------------+-------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+
|        encounter_id|         start_time|          stop_time|          patient_id|            payer_id|encounter_class|encounter_code|encounter_description|base_cost_amount|total_claim_amount|payer_coverage_amount|reason_code|reason_description|
+--------------------+-------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+
|32c84703248149cdd...|2011-01-02 09:26:36|2011-01-02 12:58:36|3de741697f6793049...|b1c428d64f0731e09...|     AMBULATORY|     185347001| Encounter for pro...|           85.55|           1018.02|                 0.00|       NULL|              NULL|
|c98059da320ac0a6f...|2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e4432e991481...|b1c428d64f0731e09...|     OUTPATIENT|     308335008| Patient encounter...|          142.58|           2619.36|                 0.00|       NULL|              NULL|
|4ad28a3a2479782bf...|2011-01-03 14:32:11|2011-01-03 14:47:11|73babadf5b2bfee71...|7caa725450503b5e9...|     OUTPATIENT|     185349003| Encounter for che...|           85.55|            461.59|               305.27|       NULL|              NULL|
|c3f4da61e4b421d55...|2011-01-03 16:24:45|2011-01-03 16:39:45|3b46a0b70f349b9ac...|b1c428d64f0731e09...|       WELLNESS|     162673000| General examinati...|          136.80|           1784.24|                 0.00|       NULL|              NULL|
|a9183b4f257272ea5...|2011-01-03 17:36:53|2011-01-03 17:51:53|fa006887d93cd3028...|42c4fca7f8a93cd19...|     AMBULATORY|     390906007|   Followup encounter|           85.55|            234.72|                 0.00|   55822004|    Hyperlipidemia|
+--------------------+-------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+
only showing top 5 rows

[Stage 5:>                                                          (0 + 1) / 1]

Successfully loaded transformed data into slv_hospital_db.slv_encounters

In [13]:
%%sql

select * from slv_encounters limit 5;

+----------------------------------+---------------------+---------------------+----------------------------------+----------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+
|                     encounter_id |          start_time |           stop_time |                       patient_id |                         payer_id | encounter_class | encounter_code |                    encounter_description | base_cost_amount | total_claim_amount | payer_coverage_amount | reason_code | reason_description |
+----------------------------------+---------------------+---------------------+----------------------------------+----------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+
| 32c84703248149cdd5713899d5820253 | 2011-01-02 09:26:36 | 2011-01-02 12:58:36 | 3de741697f67930491d4757e0f3a14d2 | b1c428d64f0731e090f068ffa6ff8c76 |      AMBULATORY |      185347001 |          Encounter for problem procedure |            85.55 |            1018.02 |                  0.00 |        None |               None |
| c98059da320ac0a6fcedc8815f3e3f39 | 2011-01-03 05:44:39 | 2011-01-03 06:01:42 | d9ec2e4432e99148179a1653348cc4e2 | b1c428d64f0731e090f068ffa6ff8c76 |      OUTPATIENT |      308335008 |              Patient encounter procedure |           142.58 |            2619.36 |                  0.00 |        None |               None |
| 4ad28a3a2479782bf29cd5b3f41a001e | 2011-01-03 14:32:11 | 2011-01-03 14:47:11 | 73babadf5b2bfee7189e6f41ff213e01 | 7caa725450503b5e9eaebd5ea30e809c |      OUTPATIENT |      185349003 |         Encounter for check up procedure |            85.55 |             461.59 |                305.27 |        None |               None |
| c3f4da61e4b421d5587afbc89943bc19 | 2011-01-03 16:24:45 | 2011-01-03 16:39:45 | 3b46a0b70f349b9ac319ace4a1f58c0b | b1c428d64f0731e090f068ffa6ff8c76 |        WELLNESS |      162673000 | General examination of patient procedure |           136.80 |            1784.24 |                  0.00 |        None |               None |
| a9183b4f257272ea54c2b3cd038b4be7 | 2011-01-03 17:36:53 | 2011-01-03 17:51:53 | fa006887d93cd3028b89f3c25f88c0e1 | 42c4fca7f8a93cd1982add9751bf3e2a |      AMBULATORY |      390906007 |                       Followup encounter |            85.55 |             234.72 |                  0.00 |    55822004 |     Hyperlipidemia |
+----------------------------------+---------------------+---------------------+----------------------------------+----------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+

In [17]:
df_brz_procedures = spark.table("brz_hospital_db.brz_procedures")

df_slv_procedures = df_brz_procedures.select(
    col("START").alias("procedure_start_time"),
    col("STOP").alias("procedure_stop_time"),
    clean_string_spark(col("PATIENT")).alias("patient_id"),
    clean_string_spark(col("ENCOUNTER")).alias("encounter_id"),
    col("CODE").alias("procedure_code"),
    clean_string_spark(col("DESCRIPTION")).alias("procedure_description"),
    col("BASE_COST").alias("base_procedure_cost"),
    col("REASONCODE").alias("reason_code"),
    clean_string_spark(col("REASONDESCRIPTION")).alias("reason_description")
)

print("Schema for slv_procedures:")
df_slv_procedures.printSchema()
print("Sample Data for slv_procedures:")
df_slv_procedures.show(5)
df_slv_procedures.write.mode("overwrite").saveAsTable("slv_procedures")
print("Successfully loaded transformed data into slv_hospital_db.slv_procedures")

Schema for slv_procedures:
root
 |-- procedure_start_time: timestamp (nullable = false)
 |-- procedure_stop_time: timestamp (nullable = false)
 |-- patient_id: string (nullable = false)
 |-- encounter_id: string (nullable = false)
 |-- procedure_code: long (nullable = false)
 |-- procedure_description: string (nullable = false)
 |-- base_procedure_cost: decimal(10,2) (nullable = false)
 |-- reason_code: long (nullable = true)
 |-- reason_description: string (nullable = true)

Sample Data for slv_procedures:
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+
|procedure_start_time|procedure_stop_time|          patient_id|        encounter_id|procedure_code|procedure_description|base_procedure_cost|reason_code|  reason_description|
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+
| 2011-01-02 09:26:36|2011-01-02 12:58:36|3de741697f6793049...|32c84703248149cdd...|     265764009| Renal dialysis pr...|             903.00|       NULL|                NULL|
| 2011-01-03 05:44:39|2011-01-03 06:01:42|d9ec2e4432e991481...|c98059da320ac0a6f...|      76601001| Intramuscular inj...|            2477.00|       NULL|                NULL|
| 2011-01-04 14:49:55|2011-01-04 15:04:55|d856d6e64c98e7a21...|2cfd4dddad13fe1e5...|     703423002| Combined chemothe...|           11620.00|  363406005|Malignant tumor o...|
| 2011-01-05 04:02:09|2011-01-05 04:17:09|bc9d59c30a306e3bf...|179669360878f4db1...|     173160006| Diagnostic fibero...|            9796.00|  162573006|Suspected lung ca...|
| 2011-01-05 12:58:36|2011-01-05 16:42:36|3de741697f6793049...|9de5f0b04ba4ce6f4...|     265764009| Renal dialysis pr...|            1255.00|       NULL|                NULL|
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+
only showing top 5 rows

Successfully loaded transformed data into slv_hospital_db.slv_procedures

In [18]:
%%sql

select * from slv_procedures limit 5;

+----------------------+---------------------+----------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+
| procedure_start_time | procedure_stop_time |                       patient_id |                     encounter_id | procedure_code |                                 procedure_description | base_procedure_cost | reason_code |              reason_description |
+----------------------+---------------------+----------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+
|  2011-01-02 09:26:36 | 2011-01-02 12:58:36 | 3de741697f67930491d4757e0f3a14d2 | 32c84703248149cdd5713899d5820253 |      265764009 |                              Renal dialysis procedure |              903.00 |        None |                            None |
|  2011-01-03 05:44:39 | 2011-01-03 06:01:42 | d9ec2e4432e99148179a1653348cc4e2 | c98059da320ac0a6fcedc8815f3e3f39 |       76601001 |                               Intramuscular injection |             2477.00 |        None |                            None |
|  2011-01-04 14:49:55 | 2011-01-04 15:04:55 | d856d6e64c98e7a2129b44076c63d008 | 2cfd4dddad13fe1e528b15051cea2ec3 |      703423002 | Combined chemotherapy and radiation therapy procedure |            11620.00 |   363406005 |        Malignant tumor of colon |
|  2011-01-05 04:02:09 | 2011-01-05 04:17:09 | bc9d59c30a306e3bf47d022e4f03c8de | 179669360878f4db128ba43ae10d0878 |      173160006 |          Diagnostic fiberoptic bronchoscopy procedure |             9796.00 |   162573006 | Suspected lung cancer situation |
|  2011-01-05 12:58:36 | 2011-01-05 16:42:36 | 3de741697f67930491d4757e0f3a14d2 | 9de5f0b04ba4ce6f45fbb55c202f31a5 |      265764009 |                              Renal dialysis procedure |             1255.00 |        None |                            None |
+----------------------+---------------------+----------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+

In [19]:
%%sql

show tables;

+-----------------+----------------+-------------+
|       namespace |      tableName | isTemporary |
+-----------------+----------------+-------------+
| slv_hospital_db | slv_encounters |       False |
| slv_hospital_db |   slv_patients |       False |
| slv_hospital_db |     slv_payers |       False |
| slv_hospital_db | slv_procedures |       False |
+-----------------+----------------+-------------+

# Gold Medalion

In [20]:
%%sql

create database if not exists gld_hospital_db;

++
||
++
++

In [21]:
%%sql

show databases;

+---------------------+
|           namespace |
+---------------------+
|     brz_hospital_db |
|          coffeeshop |
|     slv_hospital_db |
| coffeeshop_medalion |
|     gld_hospital_db |
+---------------------+

In [22]:
%%sql

use gld_hospital_db

++
||
++
++

In [23]:
%%sql

show tables;

+-----------+-----------+-------------+
| namespace | tableName | isTemporary |
+-----------+-----------+-------------+
+-----------+-----------+-------------+

In [31]:
!pip install deltalake

Collecting deltalake
  Downloading deltalake-1.1.4-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.6 kB)
Collecting arro3-core>=0.5.0 (from deltalake)
  Downloading arro3_core-0.5.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (949 bytes)
Collecting deprecated>=1.2.18 (from deltalake)
  Downloading Deprecated-1.2.18-py2.py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.11/site-packages (from arro3-core>=0.5.0->deltalake) (4.14.1)
Collecting wrapt<2,>=1.10 (from deprecated>=1.2.18->deltalake)
  Downloading wrapt-1.17.3-cp311-cp311-manylinux1_x86_64.manylinux_2_28_x86_64.manylinux_2_5_x86_64.whl.metadata (6.4 kB)
Downloading deltalake-1.1.4-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (53.1 MB)
    53.1/53.1 MB 3.4 MB/s eta 0:00:0000:0100:01
Downloading arro3_core-0.5.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
    2.5/2.5 MB 3.4 MB/s eta 0:00:00a 0:00:01
Downloading Deprecated-1.2.18-py2.py3-none-any.whl (10.0 kB)
Downloading wrapt-1.17.3-cp311-cp311-manylinux1_x86_64.manylinux_2_28_x86_64.manylinux_2_5_x86_64.whl (82 kB)
Installing collected packages: wrapt, arro3-core, deprecated, deltalake
    4/4 [deltalake]/4 [deltalake]
Successfully installed arro3-core-0.5.1 deltalake-1.1.4 deprecated-1.2.18 wrapt-1.17.3
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

In [37]:
from pyspark.sql.functions import col, lit, current_date, md5, concat_ws, coalesce, cast, sha2, concat, expr
from pyspark.sql.types import DateType
from datetime import datetime

print("--- Transforming patients data into dim_patient (Gold Layer) ---")

# Ambil tanggal eksekusi (bisa dari tanggal sistem atau manual untuk testing)
execution_date_for_dim = datetime.now().strftime('%Y-%m-%d')

# Pastikan df_slv_patients sudah dibuat di langkah Silver sebelumnya
df_slv_patients = spark.table("slv_hospital_db.slv_patients")

# --- FIX for content_hash (sudah berhasil) ---
df_slv_patients.createOrReplaceTempView("temp_slv_patients_for_hash")

columns_to_hash = [
    "patient_id", "birth_date", "death_date", "first_name", "last_name",
    "gender", "race", "ethnicity", "city", "state", "zip_code",
    "latitude", "longitude"
]

hash_sql_parts = []
for c in columns_to_hash:
    hash_sql_parts.append(f"COALESCE(CAST({c} AS STRING), '')")

md5_hash_sql_expression = f"MD5(CONCAT_WS('|', {', '.join(hash_sql_parts)}))"

df_slv_patients_with_hash = spark.sql(f"""
    SELECT
        *,
        {md5_hash_sql_expression} AS content_hash
    FROM temp_slv_patients_for_hash
""")

spark.catalog.dropTempView("temp_slv_patients_for_hash")
# --- END FIX for content_hash ---


df_gld_dim_patient = df_slv_patients_with_hash.select(
    col("patient_id"),
    col("birth_date"),
    col("death_date"),
    col("first_name"),
    col("last_name"),
    col("gender"),
    col("race"),
    col("ethnicity"),
    col("city"),
    col("state"),
    col("zip_code"),
    col("latitude"),
    col("longitude"),
    col("content_hash"),
    # --- START: Tambahkan kembali kolom-kolom ini ---
    lit(execution_date_for_dim).cast(DateType()).alias("dbt_valid_from"), # Aliaskan sebagai dbt_valid_from
    lit("9999-12-31").cast(DateType()).alias("dbt_valid_to"),           # Aliaskan sebagai dbt_valid_to
    lit(True).alias("is_current")                                      # Aliaskan sebagai is_current
    # --- END: Tambahkan kembali kolom-kolom ini ---
)

# Buat surrogate key
surrogate_key_sql_expression = f"SHA2(CONCAT(CAST(patient_id AS STRING), CAST(dbt_valid_from AS STRING)), 256)" # Gunakan dbt_valid_from
df_gld_dim_patient = df_gld_dim_patient.withColumn(
    "dim_patient_key", expr(surrogate_key_sql_expression)
)


print("Schema for dim_patient (Gold):")
df_gld_dim_patient.printSchema()
print("Sample Data for dim_patient (Gold):")
df_gld_dim_patient.show(5)

spark.sql("USE gld_hospital_db")
df_gld_dim_patient.write.mode("overwrite").saveAsTable("gld_dim_patient")
print("Successfully loaded transformed data into gld_hospital_db.dim_patient")

--- Transforming patients data into dim_patient (Gold Layer) ---
Schema for dim_patient (Gold):
root
 |-- patient_id: string (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- death_date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- race: string (nullable = true)
 |-- ethnicity: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- latitude: decimal(10,8) (nullable = true)
 |-- longitude: decimal(11,8) (nullable = true)
 |-- content_hash: string (nullable = false)
 |-- dbt_valid_from: date (nullable = true)
 |-- dbt_valid_to: date (nullable = true)
 |-- is_current: boolean (nullable = false)
 |-- dim_patient_key: string (nullable = true)

Sample Data for dim_patient (Gold):
+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+--------------------+--------------+------------+----------+--------------------+
|          patient_id|birth_date|death_date|first_name|    last_name|gender| race|  ethnicity|  city|        state|zip_code|   latitude|   longitude|        content_hash|dbt_valid_from|dbt_valid_to|is_current|     dim_patient_key|
+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+--------------------+--------------+------------+----------+--------------------+
|5605b66be92dc16c1...|1977-03-19|      NULL| Nikita578|    Erdman779|     F|white|nonhispanic|Quincy|Massachusetts|    2186|42.29093738|-70.97550306|76f32274387ea4593...|    2025-08-12|  9999-12-31|      true|d87b269d7cecd626f...|
|6e5ae27c80387988e...|1940-02-19|      NULL|   Zane918|Hodkiewicz467|     M|white|nonhispanic|Boston|Massachusetts|    2135|42.30883120|-71.06316160|a82adee2180eee9d9...|    2025-08-12|  9999-12-31|      true|1678199697cea48e5...|
|8123d07608869007e...|1958-06-04|      NULL|  Quinn173| Marquardt819|     M|white|nonhispanic|Quincy|Massachusetts|    2170|42.26517685|-70.96708508|108c02fdcd0afbff4...|    2025-08-12|  9999-12-31|      true|ddf70062e507daf86...|
|770518e46133648e6...|1928-12-25|2017-09-29|   Abel832|   Smitham825|     M|white|   hispanic|Boston|Massachusetts|    2118|42.33430374|-71.06680120|6ca0ad9438eced0b3...|    2025-08-12|  9999-12-31|      true|58a6cd7a0f69c553c...|
|f96addf581b90aab7...|1928-12-25|2014-02-23|  Edwin773|   Labadie908|     M|white|   hispanic|Boston|Massachusetts|    2125|42.34677140|-71.05881297|38d2ec95a20cd6250...|    2025-08-12|  9999-12-31|      true|1225a88e9b4fd9e37...|
+--------------------+----------+----------+----------+-------------+------+-----+-----------+------+-------------+--------+-----------+------------+--------------------+--------------+------------+----------+--------------------+
only showing top 5 rows

Successfully loaded transformed data into gld_hospital_db.dim_patient

In [71]:
%%sql

select * from gld_dim_patient limit 5

+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+----------------------------------+----------------+--------------+------------+------------------------------------------------------------------+
|                       patient_id | birth_date | death_date | first_name |     last_name | gender |  race |   ethnicity |   city |         state | zip_code |    latitude |    longitude |                     content_hash | dbt_valid_from | dbt_valid_to | is_current |                                                  dim_patient_key |
+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+----------------------------------+----------------+--------------+------------+------------------------------------------------------------------+
| 5605b66be92dc16c1b83b8bf7040d51f | 1977-03-19 |       None |  Nikita578 |     Erdman779 |      F | white | nonhispanic | Quincy | Massachusetts |     2186 | 42.29093738 | -70.97550306 | 76f32274387ea4593ebbd6ff18d4741d |     2025-08-12 |   9999-12-31 |       True | d87b269d7cecd626f6ce8b26ab9446ef76e8575ec64645371a7afa84c0e4612f |
| 6e5ae27c80387988e2c025a103f01bfa | 1940-02-19 |       None |    Zane918 | Hodkiewicz467 |      M | white | nonhispanic | Boston | Massachusetts |     2135 | 42.30883120 | -71.06316160 | a82adee2180eee9d982fcb21dc929d53 |     2025-08-12 |   9999-12-31 |       True | 1678199697cea48e58fab23949827f403c189e4113856a687fa1cfa3f53aa8d0 |
| 8123d07608869007e956d5864aa121a7 | 1958-06-04 |       None |   Quinn173 |  Marquardt819 |      M | white | nonhispanic | Quincy | Massachusetts |     2170 | 42.26517685 | -70.96708508 | 108c02fdcd0afbff48dde6596ded9503 |     2025-08-12 |   9999-12-31 |       True | ddf70062e507daf86bd794f1b1977673c98e6ac108020bdf9303bc6f703524d0 |
| 770518e46133648e60c9071eb2f0e2ce | 1928-12-25 | 2017-09-29 |    Abel832 |    Smitham825 |      M | white |    hispanic | Boston | Massachusetts |     2118 | 42.33430374 | -71.06680120 | 6ca0ad9438eced0b316913862acee1ef |     2025-08-12 |   9999-12-31 |       True | 58a6cd7a0f69c553c67a089e020a9a6ab0d1b486469f43a85441c1342366d0e6 |
| f96addf581b90aab7855d208d3d352c5 | 1928-12-25 | 2014-02-23 |   Edwin773 |    Labadie908 |      M | white |    hispanic | Boston | Massachusetts |     2125 | 42.34677140 | -71.05881297 | 38d2ec95a20cd62500523b6113b9c041 |     2025-08-12 |   9999-12-31 |       True | 1225a88e9b4fd9e3784e6fb70346bd12433e2219e290c21f4aad0c67d3d1f7da |
+----------------------------------+------------+------------+------------+---------------+--------+-------+-------------+--------+---------------+----------+-------------+--------------+----------------------------------+----------------+--------------+------------+------------------------------------------------------------------+

In [45]:
from pyspark.sql.functions import col, lit, current_date, md5, concat_ws, coalesce, cast, sha2, concat, expr
from pyspark.sql.types import DateType
from datetime import datetime

print("\n--- Transforming payers data into dim_payer (Gold Layer) ---")

# Get the current execution date for metadata
execution_date_for_dim = datetime.now().strftime('%Y-%m-%d')

# Ensure df_slv_payers is available from the Silver layer
df_slv_payers = spark.table("slv_hospital_db.slv_payers")

# Create a temporary view for robust MD5 hash calculation
df_slv_payers.createOrReplaceTempView("temp_slv_payers_for_hash")

# List all columns that should be part of the hash for change detection
# **FIX HERE: Removed 'zip_code' and 'phone' as they are not in slv_payers schema**
columns_to_hash = [
    "payer_id", "payer_name", "city", "state_headquartered" # Only include columns present in slv_payers
]

# Build the SQL string for CONCAT_WS and MD5 hash (using expr for robustness)
hash_sql_parts = []
for c in columns_to_hash:
    hash_sql_parts.append(f"COALESCE(CAST({c} AS STRING), '')")

md5_hash_sql_expression = f"MD5(CONCAT_WS('|', {', '.join(hash_sql_parts)}))"

# Execute a Spark SQL query to calculate the hash and select all original columns
df_slv_payers_with_hash = spark.sql(f"""
    SELECT
        *,
        {md5_hash_sql_expression} AS content_hash
    FROM temp_slv_payers_for_hash
""")

# Drop the temporary view
spark.catalog.dropTempView("temp_slv_payers_for_hash")

# Select and rename columns for dim_payer, adding metadata
df_gld_dim_payer = df_slv_payers_with_hash.select(
    col("payer_id"),
    col("payer_name"),
    col("city"),
    col("state_headquartered"),
    # **FIX HERE: Removed 'zip_code' and 'phone' from select as they are not in slv_payers**
    # col("zip_code"), # Removed
    # col("phone"), # Removed
    col("content_hash"), # The hash calculated above
    lit(execution_date_for_dim).cast(DateType()).alias("dbt_valid_from"), # Simulating dbt valid from
    lit("9999-12-31").cast(DateType()).alias("dbt_valid_to"),           # Simulating dbt valid to
    lit(True).alias("is_current")                                      # Simulating dbt is current
)

# Create the surrogate key for dim_payer
surrogate_key_sql_expression = f"SHA2(CONCAT(CAST(payer_id AS STRING), CAST(dbt_valid_from AS STRING)), 256)"
df_gld_dim_payer = df_gld_dim_payer.withColumn(
    "dim_payer_key", expr(surrogate_key_sql_expression)
)

print("Schema for dim_payer (Gold):")
df_gld_dim_payer.printSchema()
print("Sample Data for dim_payer (Gold):")
df_gld_dim_payer.show(5)

# Ensure you're writing to the Gold database
spark.sql("USE gld_hospital_db")
df_gld_dim_payer.write.mode("overwrite").saveAsTable("gld_dim_payer")
print("Successfully loaded transformed data into gld_hospital_db.dim_payer")

--- Transforming payers data into dim_payer (Gold Layer) ---
Schema for dim_payer (Gold):
root
 |-- payer_id: string (nullable = true)
 |-- payer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state_headquartered: string (nullable = true)
 |-- content_hash: string (nullable = false)
 |-- dbt_valid_from: date (nullable = true)
 |-- dbt_valid_to: date (nullable = true)
 |-- is_current: boolean (nullable = false)
 |-- dim_payer_key: string (nullable = true)

Sample Data for dim_payer (Gold):
+--------------------+--------------------+----------+-------------------+--------------------+--------------+------------+----------+--------------------+
|            payer_id|          payer_name|      city|state_headquartered|        content_hash|dbt_valid_from|dbt_valid_to|is_current|       dim_payer_key|
+--------------------+--------------------+----------+-------------------+--------------------+--------------+------------+----------+--------------------+
|b3221cfc24fb339e8...|       Dual Eligible| Baltimore|                 MD|de3eee6d16d108a48...|    2025-08-12|  9999-12-31|      true|d2d6490a165892960...|
|7caa725450503b5e9...|            Medicare| Baltimore|                 MD|b26a07f4b5ef6c698...|    2025-08-12|  9999-12-31|      true|ede208ce5989d0d8a...|
|7c4411ce02f139b5b...|            Medicaid| Baltimore|                 MD|a1a70fc5eb188087d...|    2025-08-12|  9999-12-31|      true|fbb25b987a96721e7...|
|d47b351028953b709...|              Humana|Louisville|                 KY|f196756e345bcc658...|    2025-08-12|  9999-12-31|      true|c50f9803efd4ec063...|
|6e2f1a2d27bd37018...|Blue Cross Blue S...|   Chicago|                 IL|1e17a4d99685325a4...|    2025-08-12|  9999-12-31|      true|69d128a115b9edd3c...|
+--------------------+--------------------+----------+-------------------+--------------------+--------------+------------+----------+--------------------+
only showing top 5 rows

Successfully loaded transformed data into gld_hospital_db.dim_payer

In [47]:
%%sql

show tables;

+-----------------+-----------------+-------------+
|       namespace |       tableName | isTemporary |
+-----------------+-----------------+-------------+
| gld_hospital_db | gld_dim_patient |       False |
| gld_hospital_db |   gld_dim_payer |       False |
+-----------------+-----------------+-------------+

In [51]:
from pyspark.sql.functions import col, current_date, lit

print("\n--- Transforming encounters data into fact_encounter (Gold Layer) ---")

# Ambil data dari Silver dan Dimensi Gold
# Pastikan dim_patient dan dim_payer sudah berhasil dibuat di langkah sebelumnya
df_slv_encounters = spark.table("slv_hospital_db.slv_encounters")
df_gld_dim_patient = spark.table("gld_hospital_db.gld_dim_patient")
df_gld_dim_payer = spark.table("gld_hospital_db.gld_dim_payer")

# Gabungkan slv_encounters dengan dimensi
df_gld_fact_encounter = df_slv_encounters.alias("se").join(
    df_gld_dim_patient.alias("dp"),
    col("se.patient_id") == col("dp.patient_id"), # Join berdasarkan natural key pasien
    "left"
).join(
    df_gld_dim_payer.alias("dpa"),
    col("se.payer_id") == col("dpa.payer_id"), # Join berdasarkan natural key payer
    "left"
).select(
    # Kunci Fakta
    col("se.encounter_id"),
    col("se.start_time").alias("encounter_start_time"),
    col("se.stop_time").alias("encounter_stop_time"),

    # Kunci Surrogate dari Dimensi (untuk Analytical Query)
    col("dp.dim_patient_key"),
    col("dpa.dim_payer_key"),

    # Atribut Fakta / Metrik
    col("se.encounter_class"),
    col("se.encounter_code"),
    col("se.encounter_description"),
    col("se.base_cost_amount"),
    # --- FIX HERE: Use the correct column names from slv_encounters ---
    col("se.total_claim_amount"),      # Renamed from total_claim_cost in Silver
    col("se.payer_coverage_amount"),  # Renamed from payer_coverage in Silver
    col("se.reason_code"),            # Renamed from reasoncode in Silver
    col("se.reason_description"),     # Renamed from reasonsdescription in Silver
    # --- END FIX ---

    # Metadata (Tanggal dimuat)
    current_date().alias("loaded_date")
)

print("Schema for fact_encounter (Gold):")
df_gld_fact_encounter.printSchema()
print("Sample Data for fact_encounter (Gold):")
df_gld_fact_encounter.show(5)

# Pastikan Anda menulis ke database Gold
spark.sql("USE gld_hospital_db")
df_gld_fact_encounter.write.mode("overwrite").saveAsTable("gld_fact_encounter")
print("Successfully loaded transformed data into gld_hospital_db.fact_encounter")

--- Transforming encounters data into fact_encounter (Gold Layer) ---
Schema for fact_encounter (Gold):
root
 |-- encounter_id: string (nullable = true)
 |-- encounter_start_time: timestamp (nullable = true)
 |-- encounter_stop_time: timestamp (nullable = true)
 |-- dim_patient_key: string (nullable = true)
 |-- dim_payer_key: string (nullable = true)
 |-- encounter_class: string (nullable = true)
 |-- encounter_code: long (nullable = true)
 |-- encounter_description: string (nullable = true)
 |-- base_cost_amount: decimal(10,2) (nullable = true)
 |-- total_claim_amount: decimal(10,2) (nullable = true)
 |-- payer_coverage_amount: decimal(10,2) (nullable = true)
 |-- reason_code: long (nullable = true)
 |-- reason_description: string (nullable = true)
 |-- loaded_date: date (nullable = false)

Sample Data for fact_encounter (Gold):
+--------------------+--------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+-----------+
|        encounter_id|encounter_start_time|encounter_stop_time|     dim_patient_key|       dim_payer_key|encounter_class|encounter_code|encounter_description|base_cost_amount|total_claim_amount|payer_coverage_amount|reason_code|reason_description|loaded_date|
+--------------------+--------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+-----------+
|32c84703248149cdd...| 2011-01-02 09:26:36|2011-01-02 12:58:36|08ad131207a6ffad0...|1fb2290f9fc833427...|     AMBULATORY|     185347001| Encounter for pro...|           85.55|           1018.02|                 0.00|       NULL|              NULL| 2025-08-12|
|c98059da320ac0a6f...| 2011-01-03 05:44:39|2011-01-03 06:01:42|c0f2bf71852131ddc...|1fb2290f9fc833427...|     OUTPATIENT|     308335008| Patient encounter...|          142.58|           2619.36|                 0.00|       NULL|              NULL| 2025-08-12|
|4ad28a3a2479782bf...| 2011-01-03 14:32:11|2011-01-03 14:47:11|3eb17f86d84d1d740...|ede208ce5989d0d8a...|     OUTPATIENT|     185349003| Encounter for che...|           85.55|            461.59|               305.27|       NULL|              NULL| 2025-08-12|
|c3f4da61e4b421d55...| 2011-01-03 16:24:45|2011-01-03 16:39:45|f8f7abe943c8b6bb1...|1fb2290f9fc833427...|       WELLNESS|     162673000| General examinati...|          136.80|           1784.24|                 0.00|       NULL|              NULL| 2025-08-12|
|a9183b4f257272ea5...| 2011-01-03 17:36:53|2011-01-03 17:51:53|947dc6f6ef892bf1f...|1832a2c46b73e00cf...|     AMBULATORY|     390906007|   Followup encounter|           85.55|            234.72|                 0.00|   55822004|    Hyperlipidemia| 2025-08-12|
+--------------------+--------------------+-------------------+--------------------+--------------------+---------------+--------------+---------------------+----------------+------------------+---------------------+-----------+------------------+-----------+
only showing top 5 rows

Successfully loaded transformed data into gld_hospital_db.fact_encounter

In [70]:
%%sql

select * from gld_fact_encounter limit 5

+----------------------------------+----------------------+---------------------+------------------------------------------------------------------+------------------------------------------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+-------------+
|                     encounter_id | encounter_start_time | encounter_stop_time |                                                  dim_patient_key |                                                    dim_payer_key | encounter_class | encounter_code |                    encounter_description | base_cost_amount | total_claim_amount | payer_coverage_amount | reason_code | reason_description | loaded_date |
+----------------------------------+----------------------+---------------------+------------------------------------------------------------------+------------------------------------------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+-------------+
| 32c84703248149cdd5713899d5820253 |  2011-01-02 09:26:36 | 2011-01-02 12:58:36 | 08ad131207a6ffad06e5aff3c293cacebdd2e26638facd6ea767df82b897545a | 1fb2290f9fc8334270ec08da692b1aed7fe05cadb36a5b2951c153157d1c3fb4 |      AMBULATORY |      185347001 |          Encounter for problem procedure |            85.55 |            1018.02 |                  0.00 |        None |               None |  2025-08-12 |
| c98059da320ac0a6fcedc8815f3e3f39 |  2011-01-03 05:44:39 | 2011-01-03 06:01:42 | c0f2bf71852131ddc2534336598007a73201b77aa5d6986e31b8f9c0e18e4893 | 1fb2290f9fc8334270ec08da692b1aed7fe05cadb36a5b2951c153157d1c3fb4 |      OUTPATIENT |      308335008 |              Patient encounter procedure |           142.58 |            2619.36 |                  0.00 |        None |               None |  2025-08-12 |
| 4ad28a3a2479782bf29cd5b3f41a001e |  2011-01-03 14:32:11 | 2011-01-03 14:47:11 | 3eb17f86d84d1d740ee242c0381201d5038d23abfa26f6d1307c016ba2ba81b6 | ede208ce5989d0d8a3ce88be6a6a86b0d797ceba9a5d33a1212bf17412682e61 |      OUTPATIENT |      185349003 |         Encounter for check up procedure |            85.55 |             461.59 |                305.27 |        None |               None |  2025-08-12 |
| c3f4da61e4b421d5587afbc89943bc19 |  2011-01-03 16:24:45 | 2011-01-03 16:39:45 | f8f7abe943c8b6bb10a2df58172d557fd45025260a840a9316e4359527d4d2bc | 1fb2290f9fc8334270ec08da692b1aed7fe05cadb36a5b2951c153157d1c3fb4 |        WELLNESS |      162673000 | General examination of patient procedure |           136.80 |            1784.24 |                  0.00 |        None |               None |  2025-08-12 |
| a9183b4f257272ea54c2b3cd038b4be7 |  2011-01-03 17:36:53 | 2011-01-03 17:51:53 | 947dc6f6ef892bf1f0e32408bce209b538a34a8f16da22496fd68dfe35f48571 | 1832a2c46b73e00cfd1bf6120d06887f54c69f20d3630a9624ad79727af85274 |      AMBULATORY |      390906007 |                       Followup encounter |            85.55 |             234.72 |                  0.00 |    55822004 |     Hyperlipidemia |  2025-08-12 |
+----------------------------------+----------------------+---------------------+------------------------------------------------------------------+------------------------------------------------------------------+-----------------+----------------+------------------------------------------+------------------+--------------------+-----------------------+-------------+--------------------+-------------+

In [56]:
%%sql

show tables;

+-----------------+--------------------+-------------+
|       namespace |          tableName | isTemporary |
+-----------------+--------------------+-------------+
| gld_hospital_db |    gld_dim_patient |       False |
| gld_hospital_db |      gld_dim_payer |       False |
| gld_hospital_db | gld_fact_encounter |       False |
+-----------------+--------------------+-------------+

In [59]:
from pyspark.sql.functions import col, current_date, lit
# No expr() needed here unless you encounter another AnalysisException with cast/concat.

print("\n--- Transforming procedures data into fact_procedure (Gold Layer) ---")

# Ambil data dari Silver dan Dimensi/Fakta Gold
# Pastikan dim_patient dan fact_encounter sudah berhasil dibuat di langkah sebelumnya
df_slv_procedures = spark.table("slv_hospital_db.slv_procedures")
df_gld_dim_patient = spark.table("gld_hospital_db.gld_dim_patient")      # Dimensi Pasien
df_gld_fact_encounter = spark.table("gld_hospital_db.gld_fact_encounter") # Fakta Encounter (untuk linking)

# Gabungkan slv_procedures dengan dimensi dan fakta encounter
df_gld_fact_procedure = df_slv_procedures.alias("sp").join(
    df_gld_dim_patient.alias("dp"),
    col("sp.patient_id") == col("dp.patient_id"), # Join berdasarkan natural key pasien
    "left"
).join(
    df_gld_fact_encounter.alias("fe"),
    col("sp.encounter_id") == col("fe.encounter_id"), # Join berdasarkan natural key encounter
    "left"
).select(
    # Kunci Fakta
    col("sp.procedure_start_time"),
    col("sp.procedure_stop_time"),

    # Kunci Surrogate dari Dimensi/Fakta Lain
    col("dp.dim_patient_key"),      # Surrogate key dari dimensi pasien
    col("fe.encounter_id"),         # Natural key dari fakta encounter (atau bisa juga dim_encounter_key jika dibuat)

    # Atribut Fakta / Metrik Prosedur
    col("sp.procedure_code"),
    col("sp.procedure_description"),
    col("sp.base_procedure_cost"),
    col("sp.reason_code"),
    col("sp.reason_description"),

    # Metadata (Tanggal dimuat)
    current_date().alias("loaded_date")
)

print("Schema for fact_procedure (Gold):")
df_gld_fact_procedure.printSchema()
print("Sample Data for fact_procedure (Gold):")
df_gld_fact_procedure.show(5)

# Pastikan Anda menulis ke database Gold
spark.sql("USE gld_hospital_db")
df_gld_fact_procedure.write.mode("overwrite").saveAsTable("gld_fact_procedure")
print("Successfully loaded transformed data into gld_hospital_db.fact_procedure")

--- Transforming procedures data into fact_procedure (Gold Layer) ---
Schema for fact_procedure (Gold):
root
 |-- procedure_start_time: timestamp (nullable = true)
 |-- procedure_stop_time: timestamp (nullable = true)
 |-- dim_patient_key: string (nullable = true)
 |-- encounter_id: string (nullable = true)
 |-- procedure_code: long (nullable = true)
 |-- procedure_description: string (nullable = true)
 |-- base_procedure_cost: decimal(10,2) (nullable = true)
 |-- reason_code: long (nullable = true)
 |-- reason_description: string (nullable = true)
 |-- loaded_date: date (nullable = false)

Sample Data for fact_procedure (Gold):
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+-----------+
|procedure_start_time|procedure_stop_time|     dim_patient_key|        encounter_id|procedure_code|procedure_description|base_procedure_cost|reason_code|  reason_description|loaded_date|
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+-----------+
| 2011-01-02 09:26:36|2011-01-02 12:58:36|08ad131207a6ffad0...|32c84703248149cdd...|     265764009| Renal dialysis pr...|             903.00|       NULL|                NULL| 2025-08-12|
| 2011-01-03 05:44:39|2011-01-03 06:01:42|c0f2bf71852131ddc...|c98059da320ac0a6f...|      76601001| Intramuscular inj...|            2477.00|       NULL|                NULL| 2025-08-12|
| 2011-01-04 14:49:55|2011-01-04 15:04:55|bfa9ed57b27bdeba0...|2cfd4dddad13fe1e5...|     703423002| Combined chemothe...|           11620.00|  363406005|Malignant tumor o...| 2025-08-12|
| 2011-01-05 04:02:09|2011-01-05 04:17:09|7e91045a03394b474...|179669360878f4db1...|     173160006| Diagnostic fibero...|            9796.00|  162573006|Suspected lung ca...| 2025-08-12|
| 2011-01-05 12:58:36|2011-01-05 16:42:36|08ad131207a6ffad0...|9de5f0b04ba4ce6f4...|     265764009| Renal dialysis pr...|            1255.00|       NULL|                NULL| 2025-08-12|
+--------------------+-------------------+--------------------+--------------------+--------------+---------------------+-------------------+-----------+--------------------+-----------+
only showing top 5 rows

Successfully loaded transformed data into gld_hospital_db.fact_procedure

In [61]:
%%sql

select * from gld_fact_procedure limit 5

+----------------------+---------------------+------------------------------------------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+-------------+
| procedure_start_time | procedure_stop_time |                                                  dim_patient_key |                     encounter_id | procedure_code |                                 procedure_description | base_procedure_cost | reason_code |              reason_description | loaded_date |
+----------------------+---------------------+------------------------------------------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+-------------+
|  2011-01-02 09:26:36 | 2011-01-02 12:58:36 | 08ad131207a6ffad06e5aff3c293cacebdd2e26638facd6ea767df82b897545a | 32c84703248149cdd5713899d5820253 |      265764009 |                              Renal dialysis procedure |              903.00 |        None |                            None |  2025-08-12 |
|  2011-01-03 05:44:39 | 2011-01-03 06:01:42 | c0f2bf71852131ddc2534336598007a73201b77aa5d6986e31b8f9c0e18e4893 | c98059da320ac0a6fcedc8815f3e3f39 |       76601001 |                               Intramuscular injection |             2477.00 |        None |                            None |  2025-08-12 |
|  2011-01-04 14:49:55 | 2011-01-04 15:04:55 | bfa9ed57b27bdeba018e62d88ca5155e1d6b65e133d0a93b4b9f7914acc0284a | 2cfd4dddad13fe1e528b15051cea2ec3 |      703423002 | Combined chemotherapy and radiation therapy procedure |            11620.00 |   363406005 |        Malignant tumor of colon |  2025-08-12 |
|  2011-01-05 04:02:09 | 2011-01-05 04:17:09 | 7e91045a03394b47479210f635ad7e9b56f9e0f5467e96f8872547160c5318e0 | 179669360878f4db128ba43ae10d0878 |      173160006 |          Diagnostic fiberoptic bronchoscopy procedure |             9796.00 |   162573006 | Suspected lung cancer situation |  2025-08-12 |
|  2011-01-05 12:58:36 | 2011-01-05 16:42:36 | 08ad131207a6ffad06e5aff3c293cacebdd2e26638facd6ea767df82b897545a | 9de5f0b04ba4ce6f45fbb55c202f31a5 |      265764009 |                              Renal dialysis procedure |             1255.00 |        None |                            None |  2025-08-12 |
+----------------------+---------------------+------------------------------------------------------------------+----------------------------------+----------------+-------------------------------------------------------+---------------------+-------------+---------------------------------+-------------+

In [64]:
from pyspark.sql.functions import col, current_date, lit, countDistinct, sum, to_date

print("\n--- Aggregating encounter data into daily_encounter (Gold Layer) ---")

# Ambil data dari fact_encounter yang sudah dibuat sebelumnya
df_gld_fact_encounter = spark.table("gld_hospital_db.gld_fact_encounter")

# Lakukan agregasi harian
df_gld_daily_encounter = df_gld_fact_encounter.groupBy(
    to_date(col("encounter_start_time")).alias("encounter_date") # Agregasi berdasarkan tanggal mulai encounter
).agg(
    countDistinct("encounter_id").alias("total_encounters"),           # Jumlah encounter unik
    countDistinct("dim_patient_key").alias("total_unique_patients"),   # Jumlah pasien unik
    sum("total_claim_amount").alias("total_claim_amount"),             # Total jumlah klaim
    sum("payer_coverage_amount").alias("total_payer_coverage"),        # Total cakupan pembayar
    # Hitung biaya out-of-pocket pasien
    (sum("total_claim_amount") - sum("payer_coverage_amount")).alias("patient_out_of_pocket_cost"),
    current_date().alias("loaded_date") # Tanggal kapan agregasi ini dimuat
)

print("Schema for daily_encounter (Gold):")
df_gld_daily_encounter.printSchema()
print("Sample Data for daily_encounter (Gold):")
df_gld_daily_encounter.sort("encounter_date").show(5) # Urutkan berdasarkan tanggal untuk tampilan yang lebih baik

# Pastikan Anda menulis ke database Gold
spark.sql("USE gld_hospital_db")
df_gld_daily_encounter.write.mode("overwrite").saveAsTable("gld_daily_encounter")
print("Successfully loaded aggregated data into gld_hospital_db.daily_encounter")

--- Aggregating encounter data into daily_encounter (Gold Layer) ---
Schema for daily_encounter (Gold):
root
 |-- encounter_date: date (nullable = true)
 |-- total_encounters: long (nullable = false)
 |-- total_unique_patients: long (nullable = false)
 |-- total_claim_amount: decimal(20,2) (nullable = true)
 |-- total_payer_coverage: decimal(20,2) (nullable = true)
 |-- patient_out_of_pocket_cost: decimal(21,2) (nullable = true)
 |-- loaded_date: date (nullable = false)

Sample Data for daily_encounter (Gold):
+--------------+----------------+---------------------+------------------+--------------------+--------------------------+-----------+
|encounter_date|total_encounters|total_unique_patients|total_claim_amount|total_payer_coverage|patient_out_of_pocket_cost|loaded_date|
+--------------+----------------+---------------------+------------------+--------------------+--------------------------+-----------+
|    2011-01-02|               1|                    1|           1018.02|                0.00|                   1018.02| 2025-08-12|
|    2011-01-03|               6|                    6|          12307.93|             1251.85|                  11056.08| 2025-08-12|
|    2011-01-04|               2|                    2|          12127.99|            11205.43|                    922.56| 2025-08-12|
|    2011-01-05|               3|                    3|          12828.42|             9370.58|                   3457.84| 2025-08-12|
|    2011-01-07|               4|                    3|          25074.01|            19531.10|                   5542.91| 2025-08-12|
+--------------+----------------+---------------------+------------------+--------------------+--------------------------+-----------+
only showing top 5 rows

Successfully loaded aggregated data into gld_hospital_db.daily_encounter

In [68]:
%%sql

show tables

+-----------------+---------------------+-------------+
|       namespace |           tableName | isTemporary |
+-----------------+---------------------+-------------+
| gld_hospital_db | gld_daily_encounter |       False |
| gld_hospital_db |     gld_dim_patient |       False |
| gld_hospital_db |       gld_dim_payer |       False |
| gld_hospital_db |  gld_fact_encounter |       False |
| gld_hospital_db |  gld_fact_procedure |       False |
+-----------------+---------------------+-------------+

In [69]:
%%sql

show databases;

+---------------------+
|           namespace |
+---------------------+
|     brz_hospital_db |
|          coffeeshop |
|     gld_hospital_db |
|     slv_hospital_db |
| coffeeshop_medalion |
+---------------------+