In [1]:
spark

In [2]:
import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

In [3]:
%%sql

CREATE DATABASE coffeeshop

25/08/01 10:32:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

AnalysisException: [SCHEMA_ALREADY_EXISTS] Cannot create schema `coffeeshop` because it already exists.
Choose a different name, drop the existing schema, or add the IF NOT EXISTS clause to tolerate pre-existing schema.

In [16]:
%%sql
SHOW DATABASES

+------------+
|  namespace |
+------------+
| coffeeshop |
|    default |
|     sample |
+------------+

In [17]:
%%sql
use coffeeshop

++
||
++
++

In [18]:
%%sql

show tables

+------------+-----------+-------------+
|  namespace | tableName | isTemporary |
+------------+-----------+-------------+
| coffeeshop |  category |       False |
+------------+-----------+-------------+

In [6]:
%%sql

CREATE TABLE coffeeshop.category (
    category_id      INT,
    category_name    string
)
USING iceberg

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `coffeeshop`.`category` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

In [19]:
%%sql

SELECT * FROM category

+-------------+---------------+
| category_id | category_name |
+-------------+---------------+
|           1 |        Coffee |
|           2 |    Non-Coffee |
|           3 |        Snacks |
+-------------+---------------+

In [8]:
schema = spark.table("coffeeshop.category").schema

data = [
    (1, "Coffee"),
    (2, "Non-Coffee"),
    (3, "Snacks")
  ]

df = spark.createDataFrame(data, schema)
df.writeTo("coffeeshop.category").append()

In [15]:
%%sql

SELECT * FROM category

+-------------+---------------+
| category_id | category_name |
+-------------+---------------+
|           1 |        Coffee |
|           2 |    Non-Coffee |
|           3 |        Snacks |
+-------------+---------------+

In [10]:
%%sql
CREATE TABLE category_unique AS
SELECT DISTINCT
    category_id,
    category_name
FROM
    category;

++
||
++
++

In [11]:
%%sql
DROP TABLE category;

++
||
++
++

In [12]:
%%sql

ALTER TABLE category_unique RENAME TO category;

++
||
++
++

In [13]:
%%sql
Select * from category

+-------------+---------------+
| category_id | category_name |
+-------------+---------------+
|           1 |        Coffee |
|           2 |    Non-Coffee |
|           3 |        Snacks |
+-------------+---------------+

In [14]:
%%sql

ALTER TABLE catergory
ADD PRIMARY KEY(category_id)

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'PRIMARY'.(line 3, pos 4)

== SQL ==

ALTER TABLE catergory
ADD PRIMARY KEY(category_id)
----^^^